<div class="card mx-auto">
  <table class="table table-hover table-sm mb-0">
    <thead>
      <tr>
        <th>Código</th>
        <th>Producto</th>
        <th>Unidad</th>
        <th>Dosis total</th>
        <th>Observaciones</th>
        <th class="actions-col"></th>
      </tr>
    </thead>
    <tbody id="inpatient-order-product-cocoon-container">
      <%= inpatient_form.simple_fields_for :parent_order_products, inpatient_form.object.parent_order_products.for_statuses("sin_proveer") do |form_products| %>
        <%= render "prescriptions/inpatient_prescriptions/partials/delivery_fields", f: form_products, order: order %>
      <% end %>
    </tbody>
    
  </table>
</div>