<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header position-relative">
    <%= render( partial: 'filters' ) %>
  </div>
  <div class="card-body fixed-panel-index">
    <%= render(
      partial: 'professionals/list',
      locals: { professionals: @professionals }
    ) %>
  </div>
</div>