// Style modal
$('.modal-content').addClass('panel-primary');

// Add the dialog title
$('#dialog h4').html("<i class='glyphicon glyphicon-plus'></i>  Nuevo profesional");

// Render the new form
$('.modal-body').html('<%= j render("form") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn' data-dismiss='modal'>Volver</button>"+
  "<button type='submit' name='commit' class='btn btn-primary pull-right' form='new_professional'>Cargar profesional</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
  $('.first_input').focus();
});

<%= render 'form_function' %>

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-content').removeClass('panel-primary');
});

