// Add the dialog title
$('#dialog h4').html("<i class='glyphicon glyphicon-eye-open'></i>  Viendo profesional");

// Render the edit form
$('.modal-body').html('<%= j render("show") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<% if policy(@professional).edit? %>"+
    "<%= link_to edit_professional_path(@professional), remote: true, class: 'btn btn-warning btn-md' do %>"+
      "<%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>"+
      " Editar profesional"+
    "<% end %>"+
  "<% end %>"
);

// Show the dynamic dialog
$('#dialog').modal("show");
