<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Establecimiento</Data></Cell>
        <Cell><Data ss:Type="String">Sector</Data></Cell>
        <Cell><Data ss:Type="String">Cantidad</Data></Cell>
        <Cell><Data ss:Type="String">Producto</Data></Cell>
      </Row>
    <% @movements.each do |movement| %>
      <Row>
        <Cell><Data ss:Type="String"><%= movement.first.first %></Data></Cell>
        <Cell><Data ss:Type="String"><%= movement.first.second %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= movement.second %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @external_order_product_report.supply_name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>