// Style modal
$('.modal-content').addClass('panel-danger');

// Add the dialog title
$('#dialog h4').html("<i class=' glyphicon glyphicon-trash'></i>  Eliminar la plantilla <%= @ordering_supply_template.name %>");

// Render the edit form
$('.modal-body').html(
  'Desea eliminar esta plantilla de <%= @ordering_supply_template.ordering_supply_template_supplies.count %> insumos?');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<a data-remote='true' data-method='delete' href='/ordering_supply_templates/<%= @ordering_supply_template.id %>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-content').removeClass('panel-danger');
});
