<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
  <%= lot_provenance.name %>
  <span class="badge badge-pill badge-secondary"><%= lot_provenance.lots_count %></span>
</a>