<% render 'header' %>

<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title d-flex mb-0">
          <%= fa_icon "tags" %>
          Procedencias
        </h5>
        <%= link_to new_lot_provenance_path(), class: 'btn btn-primary btn-sm', remote: true do %>
          <%= fa_icon 'plus' %>
        <% end %> 
      </div>
      <div class="card-body" id='lot-provenances'>
        <%= render(
          partial: 'lot_provenances/list',
          locals: { lot_provenances: @lot_provenances }
        ) %>
      </div>
    </div>
  </div>
</div>
