$(function () {
  var today = new moment();
  var expiryDate = new moment().add(30, 'days');
  $('#prescription_prescribed_date').datetimepicker({
    format: 'DD/MM/YYYY',
    date: today
  });
  $('#prescription_expiry_date').datetimepicker({
    format: 'DD/MM/YYYY',
    date: expiryDate,
    useCurrent: false, //Important! See issue #1075
  });
  $("#prescription_prescribed_date").on("dp.change", function (e) {
    $('#prescription_expiry_date').data("DateTimePicker").minDate(e.date);
    $('#prescription_expiry_date').data("DateTimePicker").date(e.date.add(30,'days'));
  });
  $("#prescription_expiry_date").on("dp.change", function (e) {
      $('#prescription_prescribed_date').data("DateTimePicker").maxDate(e.date);
  });
});

$('.selectpicker').selectpicker();

$('.quantity_supply_lots').on('cocoon:after-insert', function(e, insertedItem) {
   $('.selectpicker').selectpicker();
 });

$(".supply-name").on("click", function () {
   $(this).select();
});
$(".supply-lot-name").on("click", function () {
   $(this).select();
});


// Función para autocompletar matrícula del doctor
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#prof_enrollment').autocomplete({
    source: $('#prof_enrollment').data('autocomplete-source'),
    minLength: 2,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#professional_id").val(ui.item.id);
      $("#professional").val(ui.item.fullname);
      $('#patient_dni').focus();
    },
    response: function(event, ui) {
      if (!ui.content.length) {
          var noResult = { value:"",label:"No se encontró al doctor" };
          ui.content.push(noResult);
      }
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar nombre y apellido del doctor
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#professional').autocomplete({
    source: $('#professional').data('autocomplete-source'),
    minLength: 2,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#professional_id").val(ui.item.id);
      $("#prof_enrollment").val(ui.item.enrollment);
      $('#patient_dni').focus();
    },
    response: function(event, ui) {
      if (!ui.content.length) {
          var noResult = { value:"",label:"No se encontró al doctor" };
          ui.content.push(noResult);
      }
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar DNI del paciente
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#patient_dni').autocomplete({
    source: $('#patient_dni').data('autocomplete-source'),
    minLength: 2,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#patient_id").val(ui.item.id);
      $("#patient").val(ui.item.fullname);
      $('.supply-code').focus();
    },
    response: function(event, ui) {
      if (!ui.content.length) {
          var noResult = { value:"",label:"No se encontró el dni" };
          ui.content.push(noResult);
      }
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar Nombre de paciente
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#patient').autocomplete({
    source: $('#patient').data('autocomplete-source'),
    minLength: 3,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#patient_id").val(ui.item.id);
      $("#patient_dni").val(ui.item.dni);
      $('.supply-code').focus();
    },
    response: function(event, ui) {
      if (!ui.content.length) {
          var noResult = { value:"",label:"No se encontró al paciente" };
          ui.content.push(noResult);
      }
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar y buscar el insumo por código
$(document).on("focus",".supply-code", function() {

  var _this = $(this);

  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 1,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-id").val(ui.item.value);
        nested_form.find(".supply-name").val(ui.item.name);
        nested_form.find(".daily-dose-label").children("p").html(ui.item.unity);
        nested_form.find(".quantity-label").children("p").html(ui.item.unity);
        nested_form.find(".treat-durat").prop('disabled', false);
        nested_form.find('.treat-durat').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

// Función para autocompletar y buscar el insumo
$(document).on("focus",".supply-name", function() {

  var _this = $(this);

  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 3,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-id").val(ui.item.id);
        nested_form.find(".supply-code").val(ui.item.id);
        nested_form.find(".daily-dose-label").children("p").html(ui.item.unity);
        nested_form.find(".quantity-label").children("p").html(ui.item.unity);
        nested_form.find(".treat-durat").prop('disabled', false);
        nested_form.find('.treat-durat').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

$(document).on("keyup change",".treat-durat", function() {
  var _this = $(this);
  jQuery(function() {
    var nested_form = _this.parents(".nested-fields");
    var supply_quantity = nested_form.find(".supply-quantity");
    var daily_dose = nested_form.find(".daily-dose");
    daily_dose.prop("disabled", false).val(1);
    supply_quantity.prop("disabled", false);
    supply_quantity.val( _this.val() * daily_dose.val());
  });
});

$(document).on("keyup change",".daily-dose", function() {
  var _this = $(this);
  jQuery(function() {
    var nested_form = _this.parents(".nested-fields");
    var supply_quantity = nested_form.find(".supply-quantity");
    var treat_durat = nested_form.find(".treat-durat");
    supply_quantity.val( treat_durat.val() * _this.val());
  });
});

$(document).on("keyup change",".supply-quantity", function() {
  var _this = $(this);
  jQuery(function() {
  });
});

// Función para autocompletar y buscar el lote de insumo por código
$(document).on("focus",".supply-lot-sup-code", function() {
  var _this = $(this);
  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 1,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-lot-id").val(ui.item.id);
        nested_form.find(".supply-lot-sup-code").val(ui.item.value)
        nested_form.find(".supply-lot-name").val(ui.item.name);
        nested_form.find(".supply-lot-code").val(ui.item.lot_code);
        nested_form.find('.supply-lot-laboratory').val(ui.item.lab);
        nested_form.find('.supply-lot-quantity').attr({ "max" : ui.item.quant });
        if(ui.item.expiry_date){
          var date = new Date(ui.item.expiry_date);
          nested_form.find(".supply-lot-expiry").val((date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear());
        }else{
          nested_form.find(".supply-lot-expiry").val("No expira");
        }
        nested_form.find('.selectpicker').prop("disabled", false).selectpicker('refresh');
        nested_form.find('.supply-lot-quantity').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el código en stock" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

// Función para autocompletar y buscar el lote de insumo por nombre
$(document).on("focus",".supply-lot-name", function() {
  var _this = $(this);
  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 3,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-lot-id").val(ui.item.id);
        nested_form.find(".supply-lot-sup-code").val(ui.item.code);
        nested_form.find(".supply-lot-code").val(ui.item.lot_code);
        nested_form.find('.supply-lot-laboratory').val(ui.item.lab);
        nested_form.find('.supply-lot-quantity').attr({ "max" : ui.item.quant });
        if(ui.item.expiry_date){
          var date = new Date(ui.item.expiry_date);
          nested_form.find(".supply-lot-expiry").val((date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear());
        }else{
          nested_form.find(".supply-lot-expiry").val("No expira");
        }
        nested_form.find('.selectpicker').prop("disabled", false).selectpicker('refresh');
        nested_form.find('.treat-durat').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo en stock" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

$(document).on('change', '.select-change', function() {
  console.log('entró');
  var nested_form = $(this).parents(".nested-fields");
  var select = nested_form.find('.selectpicker');
  $.ajax({
    url: "<%= search_by_code_sector_supply_lots_path %>", // Ruta del controlador
    type: 'GET',
    data: {
      term: nested_form.find('.supply-lot-sup-code').val()
    },
    async: false,
    dataType: "json",
    error: function(XMLHttpRequest, errorTextStatus, error){
      alert("Failed: "+ errorTextStatus+" ;"+error);
    },
    success: function(data){
      select.empty().selectpicker('refresh'); // Se vacía el select
      // Se itera el json
      for(var i in data)
      {
        var id = data[i].id;
        if (data[i].expiry_date) {
          var expiry = new Date(data[i].expiry_date); // Se guarda la fecha de expiración
          var date =   expiry.getDate() + '/'+ (expiry.getMonth() + 1) + '/' +  expiry.getFullYear(); // Se da formato a la fecha
        }else {
          var date = "No expira"
        }
        select.append('<option data-subtext="'+data[i].lab+' '+date+'" \
        class="bg-'+data[i].status_label+'"  data-lab="'+data[i].lab+'" \
        data-quant="'+data[i].quant+'" data-expiry="'+data[i].expiry_date+'" \
        value="'+id+'">'+data[i].lot_code+'</option>');
      }
      select.selectpicker('val', data[0].id);
      select.selectpicker('refresh');
    }
  });
});

// Evento del código de lote para rellenar otros campos
$(document).on('change', '.selectpicker', function() {
  var nested_form = $(this).parents(".nested-fields");
  var quant = $('select.selectpicker option[value="' + $(this).val() + '"]').data('quant');
  var expiry = new Date( $('select.selectpicker option[value="' + $(this).val() + '"]').data('expiry') );
  var formatDate = expiry.getDate() + '/'+ (expiry.getMonth() + 1) + '/' +  expiry.getFullYear();
  var lab = $('select.selectpicker option[value="' + $(this).val() + '"]').data('lab');

  nested_form.find('.supply-lot-quantity').attr({ "max" : quant });
  nested_form.find('.supply-lot-expiry').val(formatDate);
  nested_form.find('.supply-lot-laboratory').val(lab);
  nested_form.find(".supply-lot-id").val($(this).val());
});
