$('#prescription_date_received').datetimepicker({ format: 'DD/MM/YYYY HH:mm' });

$('.chosen-select').chosen({
    allow_single_deselect: true,
    no_results_text: 'No se encontró el resultado',
    width: '270px'});

// Función para autocompletar nombre y apellido del doctor
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#professional').autocomplete({
    source: $('#professional').data('autocomplete-source'),
    minLength: 2,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#professional_id").val(ui.item.id);
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar DNI de paciente
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#patient_dni').autocomplete({
    source: $('#patient_dni').data('autocomplete-source'),
    minLength: 2,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#patient_id").val(ui.item.id);
      $("#patient").val(ui.item.fullname);
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar Nombre de paciente
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#patient').autocomplete({
    source: $('#patient').data('autocomplete-source'),
    minLength: 3,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#patient_id").val(ui.item.id);
      $("#patient_dni").val(ui.item.dni);
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

//Se crea un diccionario de los insumos con sus respectivas cantidades en stock.
<% @supply_lots = SupplyLot.all %>
var quantityToSupply = {
<% @supply_lots.each do |lot| %>
  "<%=lot.id%>": {
  quantity : "<%=lot.quantity%>"
},
<% end %>
};

//Función para establecer el máximo al campo "Cantidad" de cada insumo.
function setMaxQuantitySupply(idSelect){
  var supply_lots = $('#quantity-supply-lots');
  var supplyCant = supply_lots.find('.nested-fields').size();
  var idNum = idSelect.substr(idSelect.length - 1); //Se toma el último caracter del id, que es lo unico que varía.
  var supply_id =  $("#chosen-supply-"+idNum+" option:selected").val(); //Se aloja el id de la opcion seleccionada para acceder al diccionario.

  if($("#chosen-supply-"+idNum+" option:selected").val() != 0){
    document.getElementById("quantity-supply-"+idNum).setAttribute("required", true);
    document.getElementById("quantity-supply-"+idNum).disabled = false;
    document.getElementById("quantity-supply-"+idNum).setAttribute("max", quantityToSupply[supply_id].quantity);
  }else{
    document.getElementById("quantity-supply-"+idNum).setAttribute("required", false);
    document.getElementById("quantity-supply-"+idNum).disabled = true;
  }

  //Loop para deshabilitar el insumo seleccionado en el resto y asi no repetirlo.
  for(i = 1; i <= supplyCant; i++){
    var selectedValue = $("#chosen-supply-"+i+" option:selected").val();
    for(x = 1; x <= supplyCant; x++){
      if(x != i){
        $("#chosen-supply-"+x).find('option[value="'+ selectedValue +'"]:not(:selected)').attr('disabled','disabled');
        $("#chosen-supply-"+x).trigger("chosen:updated");
      }
    }
  }
}

$('#dialog').on('shown.bs.modal', function(e) {
var idNum, supply_lots;
// Id del form anidado para quantity_supply_lots
supply_lots = $('#quantity-supply-lots');
// Métodos para conocer la cantitdad de forms anidados
idNum = function() {
  return supply_lots.find('.nested-fields').size();
};
supply_lots.on('cocoon:before-insert', function(e, el_to_add) {
  return el_to_add.fadeIn(200); // Efecto para el insert
});
supply_lots.on('cocoon:after-insert', function(e, added_el) {
  var i, j, ref, results, selectedValue, x;
  // Se coloca el id de los campos anidados
  added_el.find('select').attr("id", "chosen-supply-" + idNum());
  added_el.find('input.form-control.numeric').attr("id", "quantity-supply-" + idNum());
  results = [];
  for (i = j = 1, ref = idNum(); (1 <= ref ? j <= ref : j >= ref); i = 1 <= ref ? ++j : --j) {
    selectedValue = $("#chosen-supply-" + i + " option:selected").val();
    results.push((function() {
      var k, ref1, results1;
      results1 = [];
      for (x = k = 1, ref1 = idNum(); (1 <= ref1 ? k <= ref1 : k >= ref1); x = 1 <= ref1 ? ++k : --k) {
        if (x !== i) {
          $("#chosen-supply-" + x).find('option[value="' + selectedValue + '"]:not(:selected)').attr('disabled', 'disabled');
          results1.push($("#chosen-supply-" + x).trigger("chosen:updated"));
        } else {
          results1.push(void 0);
        }
      }
      return results1;
    })());
  }
  return results;
});
supply_lots.on('cocoon:before-remove', function(e, el_to_remove) {
  $(this).data('remove-timeout', 200); // Efecto para remover
  return el_to_remove.fadeOut(200);
});
return supply_lots.on('cocoon:after-remove', function(e, removed_el) {});
});

supplies = $('#quantity_supply_requests'); // Formulario anidado

$(document).on("focus",".supply-name", function() {

  var _this = $(this);

  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 3,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        $(".supply-id").val(ui.item.id);
        $(".numeric").prop('disabled', false);
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});
