$(function () {
  var today = new moment();
  var expiryDate = new moment().add(30, 'days');
  $('#prescription_prescribed_date').datetimepicker({
    format: 'DD/MM/YYYY',
    date: today
  });
  $('#prescription_expiry_date').datetimepicker({
    format: 'DD/MM/YYYY',
    date: expiryDate,
    useCurrent: false, //Important! See issue #1075
  });
  $("#prescription_prescribed_date").on("dp.change", function (e) {
    $('#prescription_expiry_date').data("DateTimePicker").minDate(e.date);
    $('#prescription_expiry_date').data("DateTimePicker").date(e.date.add(30,'days'));
  });
  $("#prescription_expiry_date").on("dp.change", function (e) {
      $('#prescription_prescribed_date').data("DateTimePicker").maxDate(e.date);
  });
});

$(".supply-name").on("click", function () {
   $(this).select();
});
$(".supply-lot-name").on("click", function () {
   $(this).select();
});



$('.chosen-select').chosen({
    allow_single_deselect: true,
    no_results_text: 'No se encontró el resultado',
    width: '270px'});

    // Función para autocompletar matrícula del doctor
    jQuery(function() {
      var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

      return $('#prof_enrollment').autocomplete({
        source: $('#prof_enrollment').data('autocomplete-source'),
        minLength: 2,
        open: function (e, ui) {
          var acData = $(this).data('ui-autocomplete');
          acData
          .menu
          .element
          .find('li')
          .each(function () {
              var me = $(this);
              var keywords = acData.term.split(' ').join('|');
              me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
          });
        },
        select:
        function (event, ui) {
          $("#professional_id").val(ui.item.id);
          $("#professional").val(ui.item.fullname);
        },
        response: function(event, ui) {
          if (!ui.content.length) {
              var noResult = { value:"",label:"No se encontró al doctor" };
              ui.content.push(noResult);
          }
        }
      }).each(function() {
          $(this).autocomplete("widget").insertAfter($("#dialog").parent());
      })
    });

// Función para autocompletar nombre y apellido del doctor
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#professional').autocomplete({
    source: $('#professional').data('autocomplete-source'),
    minLength: 2,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#professional_id").val(ui.item.id);
    },
    response: function(event, ui) {
      if (!ui.content.length) {
          var noResult = { value:"",label:"No se encontró al doctor" };
          ui.content.push(noResult);
      }
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar DNI del paciente
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#patient_dni').autocomplete({
    source: $('#patient_dni').data('autocomplete-source'),
    minLength: 2,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#patient_id").val(ui.item.id);
      $("#patient").val(ui.item.fullname);
    },
    response: function(event, ui) {
      if (!ui.content.length) {
          var noResult = { value:"",label:"No se encontró el dni" };
          ui.content.push(noResult);
      }
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar Nombre de paciente
jQuery(function() {
  var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

  return $('#patient').autocomplete({
    source: $('#patient').data('autocomplete-source'),
    minLength: 3,
    open: function (e, ui) {
      var acData = $(this).data('ui-autocomplete');
      acData
      .menu
      .element
      .find('li')
      .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
      });
    },
    select:
    function (event, ui) {
      $("#patient_id").val(ui.item.id);
      $("#patient_dni").val(ui.item.dni);
    },
    response: function(event, ui) {
      if (!ui.content.length) {
          var noResult = { value:"",label:"No se encontró al paciente" };
          ui.content.push(noResult);
      }
    }
  }).each(function() {
      $(this).autocomplete("widget").insertAfter($("#dialog").parent());
  })
});

// Función para autocompletar y buscar el insumo por código
$(document).on("focus",".supply-code", function() {

  var _this = $(this);

  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 1,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-id").val(ui.item.value);
        nested_form.find(".supply-name").val(ui.item.name);
        nested_form.find(".supply-quantity").prop('disabled', false);
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

// Función para autocompletar y buscar el insumo
$(document).on("focus",".supply-name", function() {

  var _this = $(this);

  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 3,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-id").val(ui.item.id);
        nested_form.find(".supply-code").val(ui.item.id);
        nested_form.find(".supply-quantity").prop('disabled', false);
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});


$(document).on("keyup change",".supply-quantity", function() {
  var _this = $(this);
  jQuery(function() {
    var nested_form = _this.parents(".nested-fields");
    nested_form.find(".numeric").prop('disabled', false);
    var daily_dose = nested_form.find(".daily-dose");
    var treat_durat = nested_form.find(".treat-durat");
    if (daily_dose.val()){
      treat_durat.val(_this.val() / daily_dose.val());
    }else{
      daily_dose.val(1);
      treat_durat.val(_this.val() / daily_dose.val());
    }
  });
});

$(document).on("keyup change",".daily-dose", function() {
  var _this = $(this);
  jQuery(function() {
    var nested_form = _this.parents(".nested-fields");
    var supply_quantity = nested_form.find(".supply-quantity");
    var treat_durat = nested_form.find(".treat-durat");
    treat_durat.val( supply_quantity.val() / _this.val());
  });
});

$(document).on("keyup change",".treat-durat", function() {
  var _this = $(this);
  jQuery(function() {
    console.log(_this.val());
    var nested_form = _this.parents(".nested-fields");
    var supply_quantity = nested_form.find(".supply-quantity");
    var daily_dose = nested_form.find(".daily-dose");
    supply_quantity.val( _this.val() * daily_dose.val());
  });
});

// Función para autocompletar y buscar el lote de insumo por código
$(document).on("focus",".supply-lot-sup-code", function() {
  var _this = $(this);
  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 1,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-lot-id").val(ui.item.id);
        nested_form.find(".supply-lot-sup-code").val(ui.item.code);
        nested_form.find(".supply-lot-name").val(ui.item.name);
        nested_form.find(".supply-lot-code").val(ui.item.lot_code);
        nested_form.find('.supply-lot-quantity').attr({ "max" : ui.item.quant });
        if(ui.item.expiry_date){
          var date = new Date(ui.item.expiry_date);
          nested_form.find(".supply-lot-expiry").val((date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear());
        }else{
          nested_form.find(".supply-lot-expiry").val("No expira");
        }
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el código en stock" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

// Función para autocompletar y buscar el lote de insumo por nombre
$(document).on("focus",".supply-lot-name", function() {
  var _this = $(this);
  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 3,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-lot-id").val(ui.item.id);
        nested_form.find(".supply-lot-sup-code").val(ui.item.code);
        nested_form.find(".supply-lot-code").val(ui.item.lot_code);
        $('.supply-lot-quantity').attr({ "max" : ui.item.quant });
        if(ui.item.expiry_date){
          var date = new Date(ui.item.expiry_date);
          nested_form.find(".supply-lot-expiry").val((date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear());
        }else{
          nested_form.find(".supply-lot-expiry").val("No expira");
        }
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo en stock" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});
