<% if prescriptions.present? %>
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th>Código</th>
            <th>Médico</th>
            <th>Estado</th>
            <th>Productos</th>
            <th>Movimientos</th>
            <th>Recetada</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <%= render prescriptions, hide_patient: true, dispense_target: :_blank, show_target: :_blank, edit_target: :_blank %>
        </tbody>
      </table>
    </div>
   
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'recetas' }
  ) %>
<% end %>

