<div id='form-professional'>
  <%= f.input :first_name, placeholder: 'Nombre', required: true, label: false %>
  <%= f.input :last_name, placeholder: 'Apellido', required: true, label: false %>
  <%= f.input :dni, placeholder: 'DNI', required: true, label: false %>
</div>
