<div class="nested-fields">
  <%= f.input_field :medication_id,
                    label_method: :name,
                    value_method: :id,
                    collection: @medications,
                    include_blank: true,
                    class: 'chosen-select',
                    id: 'medication',
                    prompt: 'Seleccione un medicamento'
  %>
  <%= f.input :quantity, placeholder: 'Cantidad', required: true,
                          label: false, input_html: { "data-tooltip"=>true, :class=>"has-tip",
                            :title=>"Seleccione un medicamento", "data-placement"=>"right" }%>

  <%= link_to_remove_association  f, class: 'remove-tag btn btn-default btn-sm' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
  <% end %>
</div>
