<div class="nested-fields">
  <%= f.input_field :medication_id,
                    label_method: :full_info,
                    value_method: :id,
                    collection: @medications,
                    include_blank: true,
                    class: 'chosen-select',
                    id: 'chosen-medication-1',
                    prompt: 'Seleccione un medicamento',
                    onchange: "setMaxQuantity(this.id);"
  %>
  <%= f.input :quantity, placeholder: 'Cantidad', required: false, disabled: true,
                          label: false, input_html: { "data-tooltip"=>true, :class=>"has-tip",
                            :title=>"Seleccione un medicamento", "data-placement"=>"right",
                            min: '0', step:'any', id: 'quantity-medication-1', :style => 'width: 100px' }%>

  <%= link_to_remove_association  f, class: 'remove-tag btn btn-default btn-sm' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
  <% end %>
</div>
