// Add the dialog title
$('.modal-header').addClass('bg-warning');
$('.modal-title').html("<i class='fa fa-redo'></i>  Retornar dispensación");

// Render the edit form
$('.modal-body').html(
  "<p>"+
    "Seguro que desea retornar la dispensación?"+
    "<p>Se retornarán a stock los productos dispensados</p>"+
  "</p>"
);

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn' data-dismiss='modal'>Volver</button>"+
  "<a data-method='patch' href='/prescriptions/<%= @prescription.id %>/return_ambulatory_dispensation' class='btn commit btn-warning pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
  $('.first_input').focus();
});

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-header').removeClass('bg-warning');
});
