<%if @prescriptions.present? %>
  $('.modal-dialog').addClass('modal-lg');
  $('.modal-content').addClass('panel-primary');
  // Add the dialog title
  $('.modal-title').html("<i class='fa fa-eye'></i>  Viendo últimas recetas de <%= @prescriptions.first.patient_fullname %>");

  // Render the edit form
  $('.modal-body').html('<%= j render("get_cronic_prescriptions") %>');

  // Add form button
  $('.modal-footer').html(
    "<button type='button' class='btn btn-default pull-right' data-dismiss='modal'>Volver</button>"
  );

  // Show the dynamic dialog
  $('#dialog').modal("show");
  $('#modal-cronic-prescriptions tbody tr td').on('click', function(e){
    e.stopPropagation();
    const linkToPrescription = $(e.target).parent().attr("data-href");
    window.open(linkToPrescription);
    return;
  })
<% end %>
