// Add the dialog title
$('#dialog .modal-dialog').addClass('modal-lg');
$('#dialog .modal-title').html("<i class='fa fa-eye'></i>  Viendo receta <%= @prescription.order_type.humanize.downcase %>");

// Render the edit form
$('#dialog .modal-body').html('<%= j render("show") %>');

// Add form button
$('#dialog .modal-footer').html(
  "<button type='button' class='btn btn-default' data-dismiss='modal'>Volver</button>"+
  "<% if policy(@prescription).edit? %>"+
    '<%= link_to edit_prescription_path(@prescription), target: "_blank", class: "btn btn-warning btn-md" do %>'+
      '<%= fa_icon "pen" %>'+
      ' Editar'+
    '<% end %>'+
  "<% end %>"
);

// Show the dynamic dialog
$('#dialog').modal("show");
