/* line 1, /home/bashud/Documentos/SIFAHO/app/assets/stylesheets/internal_orders.scss */
.col-io-sup-name {
  max-width: 420px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 7, /home/bashud/Documentos/SIFAHO/app/assets/stylesheets/internal_orders.scss */
.io-show-sup {
  max-width: 240px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
