/* line 1, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
.col-io-sup-name {
  max-width: 300px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 7, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
.io-show-sup {
  max-width: 240px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 13, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
.lab-col {
  max-width: 200px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 20, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
div.tooltip-inner {
  max-width: 350px;
}

/* line 24, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
#pedidos-li:hover .btn-add-int {
  display: table;
  /* On :hover of div show button */
}

/* line 28, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
#pro-aud-glyph-prov {
  margin-left: 30%;
}

/* line 32, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
#pro-cam-glyph-prov {
  margin-left: 30%;
}

/* line 36, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/internal_orders.scss */
.change-btn {
  margin-top: 17px;
}
