/* line 4, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
#patient_type_id_chosen {
  width: 200px !important;
}

/* line 8, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.pres-col-pro {
  max-width: 130px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 14, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.pres-col-pat {
  max-width: 130px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 20, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.pres-col-sup {
  max-width: 250px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 27, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1100;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 56, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.ui-autocomplete .ui-menu-item {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
/* line 65, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.ui-autocomplete .ui-menu-item.ui-state-focus, .ui-autocomplete .ui-menu-item.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

/* line 76, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.ui-menu-item .ui-state-focus {
  background: #faa;
}

/* line 80, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 82, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-state-active {
  background-color: #7c9ed4;
  color: white;
}

/* line 87, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.daily-dose-label > p {
  display: inline-table;
}

/* line 90, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.quantity-label > p {
  display: inline-table;
}

/* line 94, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
.btn-add-pres {
  position: absolute;
  z-index: 4;
  margin-top: -2em;
  margin-left: 10em;
  display: none;
}

/* line 102, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/prescriptions.scss */
#pedidos-li:hover .btn-add-pres {
  display: table;
  /* On :hover of div show button */
}
