/* line 1, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
.status-bar-icons {
  position: absolute;
  margin-top: -20px;
  z-index: 1;
}

/* line 7, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
.gi-2x {
  font-size: 20px;
}

/* line 8, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
.gi-3x {
  font-size: 3em;
}

/* line 9, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
.gi-4x {
  font-size: 4em;
}

/* line 10, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
.gi-5x {
  font-size: 5em;
}

/* line 12, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#edit-glyph {
  margin-left: -3%;
}

/* line 15, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#thumb-glyph {
  margin-left: 31%;
}

/* line 18, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#road-glyph {
  margin-right: 26%;
}

/* line 21, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#check-glyph {
  margin-right: 2%;
}

/* line 24, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#plus-recibo-glyph {
  margin-left: -1.5%;
}

/* line 27, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#edit-recibo-glyph {
  margin-left: 45%;
}

/* line 30, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#check-recibo-glyph {
  margin-right: 3%;
}

/* line 33, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#fixed-table {
  table-layout: fixed;
}

/* line 36, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
.sol-col-aba {
  max-width: 200px;
  /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 42, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#sol-aud-glyph {
  margin-left: 16%;
}

/* line 45, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#sol-env-glyph {
  margin-left: 16%;
}

/* line 48, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#pro-aud-glyph {
  margin-left: 16%;
}

/* line 51, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#pro-cam-glyph {
  margin-left: 16%;
}

/* line 54, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#cre-glyph {
  margin-left: -1.5%;
}

/* line 58, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#sCre-glyph {
  margin-left: -1.5%;
}

/* line 61, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#sAud-glyph {
  margin-left: 12%;
}

/* line 64, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#sEnv-glyph {
  margin-left: 12%;
}

/* line 67, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#pAud-glyph {
  margin-left: 12%;
}

/* line 70, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#pAce-glyph {
  margin-left: 12%;
}

/* line 73, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#pCam-glyph {
  margin-left: 12%;
}

/* line 76, /home/bashud/Documentos/SifahoHSMA/app/assets/stylesheets/status_bar.scss */
#sRec-glyph {
  margin-right: 3%;
}
