<%= form_with(model: vademecum, local: true) do |form| %>
  <% if vademecum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vademecum.errors.count, "error") %> prohibited this vademecum from being saved:</h2>

      <ul>
      <% vademecum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
