<div>

  <h4>Actualización 05/08/2021</h4>

  <div>
    <h5>Carga de paciente en recetas:</h5>
    <p>
      <ul>
        <li>Se agregó la función de cargar los datos del paciente a través del escaneo del DNI.</li>
      </ul>
    </p>
  </div>
</div>