<div class="mt-2">
  <h4>Actualización 17/02/2021</h4>

  <div>
    <h5>Pedidos de sectores:</h5>
    <ul>
      <li>Nuevo formato de impresión.</li>
    </ul>
    <h5>Reportes:</h5>
    <ul>
      <li>Nuevo reporte de stock por rubros.</li>
    </ul>
  </div>
</div>