<div>

  <h4>Actualización 04/02/2021</h4>

  <div>
    <h5>Selección múltiple de lotes:</h5>
    <p>
      Selección múltiple de lotes de un mismo producto en los distintos tipos de órdenes. 
      La función cuenta con la posibilidad de seleccionar distintas cantidades de diferentes lotes para completar la cantidad solicitada o a entregar para un producto.
    </p>

      <%= image_tag 'update_notifications/lot_selection.png', class: "mw-100" %>

    <p>
      Dicha mejora, abarca:
    </p>
    <ul>
      <li>Pedidos de Sectores</li>
      <li>Pedidos de Establecimientos</li>
      <li>Recetas Ambulatorias</li>
      <li>Recetas Crónicas</li>
      <li>Carga por Abastecimientos</li>
    </ul>

  </div>
  
  <div>
    <h5>Módulo Abastecimiento:</h5>
    <p>Se implementó módulo Abastecimiento, el cual permite la carga de remito de diferentes productos y lotes.</p>
    <ul>
      <li>Selección de Establecimiento.</li>
      <li>Selección de Sector del Establecimiento seleccionado.</li>
      <li>Selección de Rubros a cargar en el remito.</li>
      <li>Asignación de un código alfanumérico como identificador del remito.</li>
      <li>
        Carga de productos:
        <ul>
            <li>Asignación de renglón.</li>
            <li>Asignación de producto por código o nombre:
              <ul>
                <li>Cuenta con filtro por rubro, según rubros seleccionados.</li>
              </ul>
            </li>
            <li>
              Asignación de Lotes:
              <ul>
                <li>Asignación Presentación</li>
                <li>Asignación Cantidad</li>
                <li>Asignación Código de lote / Nombre de lote / fecha expiración de lote</li>
              </ul>
            </li>
        </ul>
      </li>

    </ul>
  </div>
  <div>
    <h5>Módulo Recibos:</h5>
    <p>Se mejoró módulo Recibos.</p>
  </div>
  <div>
    <h5>Módulo Stock:</h5>
    <p>Se implementó módulo Abastecimiento, el cual permite la carga de remito de diferentes productos y lotes.</p>
  </div>
  <div>
    <h5>Módulo Establecimientos:</h5>
    <p>Se implementó módulo Abastecimiento, el cual permite la carga de remito de diferentes productos y lotes.</p>
    <ul>
      <li>Nueva trazabilidad de estados.</li>
      <li>Se quitó el retorno una vez que se encuentra en camino.</li>
      <li>Mejores validaciones.</li>
      <li>Selector múltiple de lotes.</li>
    </ul>
  </div>  
  <div>
    <h5>Módulo Sectores:</h5>
    <p>Se implementó módulo Abastecimiento, el cual permite la carga de remito de diferentes productos y lotes.</p>
  </div>
  <div>
    <h5>Módulo Productos:</h5>
    <p>Se implementó módulo Abastecimiento, el cual permite la carga de remito de diferentes productos y lotes.</p>
  </div>
  <div>
    <h5>Módulo Rubros:</h5>
    <p>Se implementó módulo Abastecimiento, el cual permite la carga de remito de diferentes productos y lotes.</p>
  </div>



</div>