<div>

  <h4>Actualización 08/03/2021</h4>

  <div>
    <h5>Receta crónica:</h5>
    <p>
      <ul>
        <li>Se agregó el campo cantidad "A entregar" en la dispensación, permitiendo realizar una entrega parcial de una dosis mensual.</li>
        <li>Solución de diálogo repetido al agregar un nuevo paciente/profesional.</li>
        <li>Solución de cambio de producto al haber elegido otro previamente.</li>
        <li>Mejora en la visualización de las dispensaciones por fecha.</li>
      </ul>
    </p>

    <h5>Selector de lotes:</h5>
    <p>
      <ul>
        <li>Al elegir una cantidad en el selector de lotes, se reemplaza la cantidad a entregar.</li>
      </ul>
    </p>
  </div>
</div>