<div>

  <h4>Actualización 02/03/2021</h4>

  <div>
    <h5>Reportes:</h5>
    <p>
      <ul>
        <li>En funcionamiento reporte de producto entregado por pacientes.</li>
        <li>En funcionamiento reporte de producto entregado por sectores.</li>
        <li>Mejora en selector por rubros.</li>
      </ul>
    </p>
  </div>
</div>