<div>

  <h4>Actualizaci칩n 05/05/2021</h4>

  <div>
    <p>
      <ul>
        <li>Solucionado: vencimientos de stock autom치ticos.</li>
        <li>Nuevo: trabajo cronol칩gico para vencimiento de recetas.</li>
        <li>Optimizaci칩n de avatars de usuarios/profesionales/pacientes.</li>
        <li>Carga de procedencia de lotes para identificar provincia, Remediar, SSyPR, muestas, etc.</li>
      </ul>
    </p>
  </div>
</div>