<div>

  <h4>Actualización 10/09/2021</h4>

  <div>
    <p>
      <ul>
        <li>Fusión de productos: se implementó una nueva funcionalidad para suprimir los productos duplicados, 
          que originalmente se utilizaban para identificar aquellos que provenían del Programa Remediar.</li>
        <li>Se agrgearon tres estados a los productos: activos, inactivos y fusionados.</li>
        <li>Opción de filtrar por estado en el listado de productos.</li>
        <li>Dejan de figurar los productos inactivos y fusionados en cualquier tipo de pedido.</li>
      </ul>
    </p>
  </div>
</div>