<div>

  <h4>Actualización 28/04/2021</h4>

  <div>
    <p>
      <ul>
        <li>Ubicación de establecimientos.</li>
        <li>Validación de fecha recetada.</li>
        <li>Único botón de dispensación.</li>
        <li>Solucionado: productos repetidos en reporte por rubro.</li>
        <li>Datos de usuarios en pedidos de establecimiento.</li>
        <li>Gráficos del tablero de control mejorados.</li>
        <li>Impresión de plantillas de establecimientos.</li>
      </ul>
    </p>
  </div>
</div>