<div class="mt-2">
  <h4>Actualización 23/02/2021</h4>

  <div>
    <h5>Modúlo Lotes Archivados:</h5>
    <ul>
      <li>Se agregó el modúlo Lotes Archivados.</li>
      <li>Se puede seleccionar la cantidad a archivar.</li>
      <li>Se puede retornar el archivado, con un límite de 48hs.</li>
      <li>Cada acción, queda registrado en movimientos de Stock.</li>
    </ul>
    <h5>Pedidos de establecimientos:</h5>
    <ul>
      <li>Mejoras en despachos de pedidos estado "Proveedor Aceptado":
        <ul>  
          <li>
            Al aceptar la orden se reserva la cantidad a entregar.
          </li>
          <li>
            Se disminuye la cantidad disponible del stock. 
          </li>
          <li>
            Se puede retornar la orden a un paso previo donde se podrá auditar y modificar cantidades.
          </li>
          <li>
            Se agregó link con acceso al listado de ordenes con estados "Proveedor Aceptado".
          </li>
          <li>
            La cantidad reservada se considera como un pedido preparado listo para enviar.
          </li>
          <li>
            La cantidad reservada aún permanece en el Sector, una ves cambiado el estado "Provisión en camino" este ya no se considera parte del sector.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>