<div>

  <h4>Actualización 13/09/2021</h4>

  <div>
    <p>
      <ul>
        <li>Tema oscuro: ya está disponible el tema oscuro para que descanses tu vista en entornos con poca iluminación.</li>
        <li>Se solucionaron detalles visuales del tema oscuro.</li>
      </ul>
    </p>
  </div>
</div>