<div class="mt-2">
  <h4>Actualización 09/02/2021</h4>

  <div>
    <h5>Pedidos de establecimiento:</h5>
    <ul>
      <li>Corrección del sector solicitante en nuevo despacho.</li>
      <li>Se mejoró el diseño del reporte.</li>
    </ul>
  </div>
  
  <div>
    <h5>Modúlo Médicos:</h5>
    <ul>
      <li>Se mejoró listado.</li>
      <li>Cambio diseño en el detalle.</li>
    </ul>
  </div>
</div>