<div>

  <h4>Actualización 03/06/2021</h4>

  <div>
    <h5>Recetas crónicas:</h5>
    <p>
      <ul>
        <li>Acción de terminar tratamiento de un determinado producto en la vista de detalles.</li>
        <li>Una vez terminados los tratamientos, se puede finalizar la receta completa.</li>
      </ul>
    </p>
  </div>
</div>