<div>

  <h4>Actualización 28/06/2021</h4>

  <div>
    <h5>Reporte "entregado por paciente":</h5>
    <p>
      <ul>
        <li>Se agregó un selector múltiple de productos.</li>
        <li>Mayor información en excel.</li>
      </ul>
    </p>
  </div>
</div>