<div class="mt-2">
  <h4>Actualizaci칩n 09/02/2021</h4>

  <div>
    <h5>Pedidos de establecimiento:</h5>
    <p>
      Se mejor칩 el dise침o del reporte.
    </p>
    <p>
      Correcci칩n del sector solicitante en nuevo despacho.
    </p>
  </div>
</div>