<div>

  <h4>Actualización 16/03/2021</h4>

  <div>
    <h5>Plantillas pedidos:</h5>
    <p>
      <ul>
        <li>Se agregaron plantillas para realizar pedidos semanales/mensuales en sectores y establecimientos.</li>
      </ul>
    </p>
  </div>
</div>