<div class="mt-2">
  <h4>Actualización 08/02/2021</h4>

  <div>
    <h5>Inicio de sesión:</h5>
    <p>
      Se modificó el diseño de inicio de sesión y novedades.
    </p>
    <p>
      Se ordenaron alfabéticamente los productos en la edición de pedidos.
    </p>
    <p>
      Corrección de fallo para ver notificaciones.
    </p>
  </div>
</div>