<div>

  <h4>Actualización 21/09/2021</h4>

  <div>
    <p>
      <ul>
        <li>Nueva manera de cargar productos en una orden de Sector o Establecimiento.</li>
        <li>Considerables mejoras en la validación del guardado de cada renglón del pedido.</li>
        <li>Pantalla de selección de lotes mejorada funcional y estéticamente.</li>
        <li>Separación de la pantalla de carga de datos entre el Efector y carga de productos.</li>
        <li>Se agregó traducción a las urls.</li>
        <li>Correcciónes del Tema Oscuro.</li>
      </ul>
    </p>
  </div>
</div>