<div class="mt-2">
  <h4>Actualización 24/02/2021</h4>

  <div>
    <h5>Modúlo stock:</h5>
    <ul>
      <li>Botón de descarga a excel.</li>
      <li>Contador de productos según filtro.</li>
    </ul>
  </div>
</div>