<div class="mt-2">
  <h4>Actualización 11/02/2021</h4>

  <div>
    <h5>Módulo stock:</h5>
    <ul>
      <li>Se agregó botón de descarga a excel desde los movimientos.</li>
    </ul>
  </div>
  
  <div>
    <h5>Modúlo recetas Crónicas:</h5>
    <ul>
      <li>Se unificaron productos repetidos en la receta original.</li>
      <li>Se agregó filtro por estado.</li>
    </ul>
  </div>
</div>