<div>

  <h4>Actualización 12/03/2021</h4>

  <div>
    <h5>Stock:</h5>
    <p>
      <ul>
        <li>Se ocultaron los lotes con cantidades iguales a cero en la vista del stock.</li>
        <li>Nuevo reporte de un producto individual en stock.</li>
      </ul>
    </p>
  </div>
</div>