<div>

  <h4>Actualización 05/08/2021</h4>

  <div>
    <p>
      <ul>
        <li>Receta: carga de datos del paciente a través del escaneo del DNI.</li>
        <li>Productos: descarga en formato excel.</li>
      </ul>
    </p>
  </div>
</div>