<%= simple_form_for @lot_stock.lot_archives.build, method: :post, url: create_archive_lot_stocks_url(@lot_stock.stock, @lot_stock), html: {class: "", role: 'check-modified'} do |f_lot_archive| %>
  <%= f_lot_archive.error_notification %>

  <div class="row">
    <div class="col-md-12">
      <%= f_lot_archive.input :quantity, label: 'Cantidad', required: true %>
    </div>
    <div class="col-md-12">
      <%= f_lot_archive.input :observation, label: 'Descripción' %>
    </div>
  </div>
<% end %>