<div class="modal fade" tabindex="-1" role="dialog" id="lot-selection" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">
          <%= fa_icon 'barcode'%> Seleccionar lote en stock
        </h5>
      </div>
      <div class="modal-body" id="lot-selection-list">
      </div>
      <div class="modal-footer text-right">
        <div class="text-right" id="btn-container">
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Volver</button>
          <%# <button type='submit' class='btn btn-success btn-submit-form' form="order-prod-lot-stock-form">Guardar</button> %>
          
          <button type='button' class='btn btn-success btn-submit-form' id="btn-submit-form" form="order-prod-lot-stock-form">Guardar</button>
        </div>
        <%= fa_icon 'spinner', class: "fa-spin", style: "display:none;", id: "spinner" %>
      </div>
    </div>
  </div>
</div>