#wrapper {
// barra navegación principal Estilos a full screen 1221px en adelante
  .navbar{
    padding: 8px $nav-padding-lr;
    height: $navbar-height;
    transition: background-color 0.3s ease-out;
    &.navbar-expand-custom{
      .navbar-collapse {
        display: flex;
        flex-basis: auto;
        .navbar-nav{
          flex-direction: row;
          .notification-container .nav-link:hover{
            background-color: transparent!important;
          }
          .nav-link{
            padding: 0.5rem 1rem;
            background-color: transparent;
            &:hover, &:focus{
              background-color: #28ABE1;
              color: #fff;
              box-shadow: none;
            }
          }
        }
      }
      .navbar-toggle-custom{
        display: none;
      }
    }
    .brand-container{
      width: calc(#{$sidebar-width-visible} - #{$nav-padding-lr});
      a.navbar-brand{
        margin: 0;
        padding: 0;
        .logo{
          height: 2.45rem;
          transition: height 0.35s ease-out;
        }
      }
      button#menu-toggle{
        width: 37px;
      }
      button#menu-toggle:hover{
        background-color: $cblue2;
        color: #fff;
      }
      button#menu-toggle:focus{
        box-shadow: none!important;
        background-color: $cblue2;
        color: #fff;
      }

    }
    #dropdown-menu-header{
      padding-left: calc(15px - 2.5px);
      .dropdown-menu-right.show{
        position: absolute;
      }
    }
  }

  .card{
    .card-header{
      padding: 5px 10px;
    }
  }

  // barra navegación principal Estilos entre 931px y 1220px
  &.wrapper-1220{
    #menu-toggle{
      display: none;
    }
    .navbar{
      height: auto;
      &.navbar-expand-custom{
        .collapse:not(.show) {
          display: none!important;
        }
        .navbar-collapse {
          flex-basis: 100%;
          flex-direction: column;
          padding-left: 0!important;
          .navbar-nav{
            flex-direction: column;
            width: 100%;
          }
        }
        .navbar-toggle-custom{
          display: flex;
        }
      }

      .brand-container{
        width: auto!important;
        .logo{
          height: 1.9rem!important;
        }
      }
      #dropdown-menu-header{
        display: block;
        position: absolute;
        z-index: 1001;
        top: 56px;
        background-color: rgb(248, 249, 250);
        left: 0px;
        width: 100%;
        border-bottom: 1px solid rgba(134, 134, 134, 0.5);
        .nav-link{
          margin: 0;
          padding: 0.5rem 6px;
          border-radius: 0;
        }
        .notification-container{
          display: none!important;
        }
        .dropdown-menu-right.show{
          position: static;
        }
      }
      #dropdown-btn-header-login{
        width: 100%;
        .dropdown-text-btn{
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}

