<% content_for :page_header do %>
    <ul class="nav nav-tabs nav-tabs-cust">
      <li role="presentation" id="page-title">
        <a href="">Lotes en provincia</a>
      </li>
      <% if policy(SupplyLot).trash_index? %>
        <li role="presentation" class="pull-right <%= active_action('trash_index') %>">
          <%= link_to trash_index_supply_lots_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
            Papelera
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>