<% content_for :page_header do %>
  <li class="nav-item non-sel">
    <%= link_to supply_lots_path, class: "nav-link #{ active_action('index') }" do %>
      <%= fa_icon "barcode" %>
      Lotes en provincia
    <% end %>
  </li>
  <% if policy(SupplyLot).trash_index? %>
    <li class="nav-item col-md-offset-5 non-sel">
      <%= link_to trash_index_supply_lots_path, class: "nav-link #{ active_action('trash_index') }" do %>
        <%= fa_icon "trash" %>
        Papelera
      <% end %>
    </li>
  <% end %>
<% end %>