// Add the dialog title
$('#dialog h4').html("<i class='glyphicon glyphicon-eye-open'></i>  Viendo lote");

// Render the edit form
$('.modal-body').html('<%= j render("show") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  '<% unless @supply_lot.deleted? %>'+
    '<%= link_to edit_supply_lot_path(@supply_lot), remote: true, class: "btn btn-warning btn-md" do %>'+
      '<%= content_tag(:span, "", class: "glyphicon glyphicon-edit") %>'+
      ' Editar lote'+
    '<% end %>'+
  '<% end %>'
);

// Show the dynamic dialog
$('#dialog').modal("show");
