<% content_for :page_header do %>
  Lotes en provincia
  <small>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
    papelera
  </small>
<% end %>

<div class="row">
  <%= render "filter" %>

  <%= render(
    partial: 'supply_lots/list',
    locals: { supply_lots: @supply_lots }
  ) %>
</div>