<%= render 'header' %>

<div class="card" id="filter-panel">
  <div class="card-header">
    <%= render 'filter' %>
  </div>
  <div class="card-body fixed-panel-index">
    <%= render(
      partial: 'supply_lots/list',
      locals: { supply_lots: @supply_lots }
    ) %>
  </div>
</div>
