<h5>Obra social</h5>
<% if @insurances.present? %>
  <table class="table w-100">
    <thead>
      <tr>
        <th>
          Padr贸n
        </th>
        <th>
          C贸digo
        </th>
        <th>
          Fecha de verificaci贸n
        </th>
      </tr>
    </thead>
    <tbody>
      <% @insurances.each do |insurance| %>
        <tr>
          <td>
            <%= insurance['financiador'] %>
          </td>
          
          <td>
            <%= insurance['codigoFinanciador'] %>
          </td>
          
          <td>
            <%= insurance['version'].to_datetime.strftime("%d/%m/%Y") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="border w-100 text-center p-2">
    No se encontr贸 obra social
  </div>
<% end %>