<% content_for :page_header do %>
  <ul class="nav nav-tabs nav-tabs-cust">
    <li role="presentation" id="page-title" class="non-sel">
      <a href="">Laboratorios</a>
    </li>
    <li role="presentation" class="<%= active_action('new') %> non-sel">
      <%= link_to new_laboratory_path, remote: 'true' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Nuevo
      <% end %>
    </li>
  </ul>
<% end %>