<% content_for :page_header do %>
  <li id="page-title" class="nav-item non-sel">
    <a href="" class="nav-link">Laboratorios</a>
  </li>
  <li class="nav-item <%= active_action('new') %> non-sel">
    <%= link_to new_laboratory_path, class: 'nav-link', remote: 'true' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
      Nuevo
    <% end %>
  </li>
<% end %>