<div id="filterrific_results">
  <% if @laboratories.present? %>
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :razon_social) %></th>
            <th>CUIT</th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>
        <tbody id=laboratories>
          <%= render @laboratories %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 50px">
      <%= will_paginate @laboratories, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'laboratorios' }
    ) %>
  <% end %>
</div>