<div class="row">
  <h5><strong>Razon social</strong></h5>
  <%= @laboratory.name %>
  <h5><strong>CUIT</strong></h5>
    <%= @laboratory.cuit %>
  <h5><strong>GLN: </strong></h5>
  <%= @laboratory.gln %>
</div>
