// Add the dialog title
$('#dialog .modal-title').html("<i class='fa fa-plus'></i>  Nuevo laboratorio");
$('#dialog .modal-header').addClass("bg-primary");
$('#dialog .modal-header').addClass("text-white");

// Render the new form
$('#dialog .modal-body').html('<%= j render("form") %>');

// Add form button
$('#dialog .modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<button type='submit' name='commit' class='btn btn-primary pull-right' form='new_laboratory'><i class='fa fa-plus'></i> Cargar</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
  $('.first_input').focus();
});

<%= render 'form_function' %>

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('#dialog .modal-content').removeClass('panel-primary');
  $('#dialog .modal-header').removeClass('bg-primary');
  $('#dialog .modal-header').removeClass('text-white');
});
