<tr id="sectors_<%= sector.id %>">
  <div class="js-fade fade-in is-paused">
    <td><%= sector.name %></td>
    <td><%= sector.establishment.name %></td>
    <td class="text-left actions-col">
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
          object: sector, 
          show: {visible: true, target: (show_target if defined?(show_target) )},
          edit: {visible: true, target: (edit_target if defined?(edit_target) )},
          destroy: {
            visible: true, 
            title: "Eliminar sector",
            body: "Esta seguro que desea eliminar el sector #{ sector.name }?",
            path: sector_url(sector.id)
          }
        }
      ) 
      %>
    </td>
  </div>
</tr>
