// Add the dialog title
$('#dialog .modal-header').addClass('bg-danger text-white');
$('#dialog .modal-title').html("<i class='fa fa-trash'></i> Eliminar sector");

// Render the edit form
$('#dialog .modal-body').html(
  'Esta seguro que desea eliminar el siguiente sector?'
);

// Add form button
$('#dialog .modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<a data-remote='true' data-method='delete' href='<%= sector_path(@sector) %>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('#dialog .modal-header').removeClass('bg-danger text-white');
});
