<% content_for :page_header do %>
  <li class="nav-item <%= active_action('index') %> non-sel">
    <%= link_to stocks_path, class: 'nav-link' do %>
      <%= fa_icon "cubes" %>
      Stock
    <% end %>
  </li>
<% end %>