<% render 'header' %>

<div class="row">
  <% if @stocks.present? %>
    <%= render 'filter' %>

    <%= render(
      partial: 'stocks/list',
      locals: { stocks: @stocks }
    ) %>
  <% else %>
    <%= render(
      partial: 'shared/not_found',
      locals: { object_name: 'productos en stock' }
    ) %>
  <% end %>
</div>