<% render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header">
  </div>
  <div class="card-body fixed-panel-index">
    <%= render(
      partial: 'stocks/movement_list',
      locals: { movements: @movements }
    ) %>
  </div>
</div>