<tr id="user_<%= user.id %>">
  <td class="pres-col-pro"><%= user.username %></td>
  <td class="pres-col-pat"><%= user.profile.first_name.present? ? user.profile.first_name : '----'%></td>
  <td class="pres-col-pat"><%= user.profile.last_name.present? ? user.profile.last_name : '----' %></td>
</tr>
