<%= render 'header' %>

<div class="row">
  <% if @bed_orders.present? %>

    <%= render 'filter' %>

    <%= render(
      partial: 'bed_orders/list',
      locals: { bed_orders: @bed_orders }
    ) %>
  <% else %>
    <%= render(
      partial: 'shared/not_found',
      locals: { object_name: 'pedidos internos entregados' }
    ) %>
  <% end %>
</div>
