<br>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Nuevo lote de medicamento</h1></div>
    <div class="panel-body">
      <%= render 'form', medication: @medication %>
    </div>
  </div>
</div>
