// Add the dialog title
$('#dialog h3').html("<i class='glyphicon glyphicon-eye-open'></i>  Viendo lote de <%= @medication.vademecum.medication_name %>");

// Render the edit form
$('.modal-body').html('<%= j render("show") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  '<%= link_to edit_medication_path(@medication), remote: true, class: "btn btn-warning btn-md" do %>'+
    '<%= content_tag(:span, "", class: "glyphicon glyphicon-edit") %>'+
    ' Editar lote'+
  '<% end %>'
);

// Show the dynamic dialog
$('#dialog').modal("show");
