<button type="button" class="btn btn-light btn-sm" data-container="body" data-toggle="popover"  
  data-content="<%= content %>" data-placement="top" data-trigger="hover"
  data-title="<%= title %>">
  <%= fa_icon "#{icon}" %>
</button>