<button type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="popover"  
  data-content="<%= content %>" data-placement="auto" data-trigger="hover"
  data-title="<%= title %>">
  <%= fa_icon "#{icon}" %>
  <%= text if defined?(text) %>
</button>