<div class="w-60 m-auto">
  <div class="custom-progress-bar">
    <div class="progress-bar" id="progress-bar"></div>
    <ul>
      <% order.get_statuses.each do |status| %>
        <li class="<%= order.set_status_class(status) %>">
          <div class="indicator-circle"></div>
          <%# Nos muestra el úlimo estado en que se encuentra la orden %>
          <% if status.include?(order.status) %>
            <div class="status-title badge"><%= status[0].humanize %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
