<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0 ml-2 p-1">Usuarios</h5>
    <span class="badge badge-primary badge-pill" data-toggle="tooltip" data-placement="top" title="Cantidad de usuarios"><%= users.count %></span>
  </div>
  <div class="card-body pl-0 pr-0">
    <div class="users-list-table">
      <% users.each do |user| %>
        <div class="w-users-list-item">
          <div class="card">
            <div class="card-body p-0 pl-2 pr-2">
              <div class="text-center">
                <% if user.profile.present? %>
                  <%= image_tag user_avatar(user, 150), class:"img-circle w-100 h-100" %>
                <% else %>
                  <%= image_tag asset_path('profile-placeholder.png', size: "150x150"), class:"img-circle w-100 h-100" %>
                <% end %>
              </div>

            </div>
            <div class="card-header">
              <%= user.full_name.titleize %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
