$(function () {
    $('#internal_order_date_received').datetimepicker({
      format: 'DD/MM/YYYY',
    })
    $('#internal_order_date_delivered').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false, //Important! See issue #1075
    });
    $("#internal_order_date_received").on("dp.change", function (e) {
        $('#internal_order_date_delivered').data("DateTimePicker").minDate(e.date);
    });
    $("#internal_order_date_delivered").on("dp.change", function (e) {
        $('#internal_order_date_received').data("DateTimePicker").maxDate(e.date);
    });
});


$('.chosen-select').chosen({
    allow_single_deselect: true,
    no_results_text: 'No se encontró el resultado',
    width: '270px'});

// Función para autocompletar y buscar el insumo por código
$(document).on("focus",".supply-code", function() {

  var _this = $(this);

  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 1,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-id").val(ui.item.value);
        nested_form.find(".supply-name").val(ui.item.name);
        nested_form.find(".supply-quantity").prop('disabled', false);
        nested_form.find('.supply-quantity').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

// Función para autocompletar y buscar el insumo
$(document).on("focus",".supply-name", function() {

  var _this = $(this);

  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 3,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-id").val(ui.item.id);
        nested_form.find(".supply-code").val(ui.item.id);
        nested_form.find(".supply-quantity").prop('disabled', false);
        nested_form.find('.supply-quantity').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

// Función para autocompletar y buscar el lote de insumo por código
$(document).on("focus",".supply-lot-sup-code", function() {
  var _this = $(this);
  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 1,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-lot-id").val(ui.item.id);
        nested_form.find(".supply-lot-sup-code").val(ui.item.code);
        nested_form.find(".supply-lot-name").val(ui.item.name);
        nested_form.find(".supply-lot-code").val(ui.item.lot_code);
        nested_form.find('.supply-lot-quantity').attr({ "max" : ui.item.quant });
        if(ui.item.expiry_date){
          var date = new Date(ui.item.expiry_date);
          nested_form.find(".supply-lot-expiry").val((date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear());
        }else{
          nested_form.find(".supply-lot-expiry").val("No expira");
        }
        nested_form.find('.supply-lot-quantity').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el código en stock" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});

// Función para autocompletar y buscar el lote de insumo por nombre
$(document).on("focus",".supply-lot-name", function() {
  var _this = $(this);
  jQuery(function() {
    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";

    return _this.autocomplete({
      source: _this.data('autocomplete-source'),
      autoFocus: true,
      minLength: 3,
      open: function (e, ui) {
        var acData = $(this).data('ui-autocomplete');
        acData
        .menu
        .element
        .find('li')
        .each(function () {
            var me = $(this);
            var keywords = acData.term.split(' ').join('|');
            me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b><u>$1</u></b>'));
        });
      },
      select:
      function (event, ui) {
        var nested_form = _this.parents(".nested-fields");
        nested_form.find(".supply-lot-id").val(ui.item.id);
        nested_form.find(".supply-lot-sup-code").val(ui.item.code);
        nested_form.find(".supply-lot-code").val(ui.item.lot_code);
        nested_form.find('.supply-lot-quantity').attr({ "max" : ui.item.quant });
        if(ui.item.expiry_date){
          var date = new Date(ui.item.expiry_date);
          nested_form.find(".supply-lot-expiry").val((date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear());
        }else{
          nested_form.find(".supply-lot-expiry").val("No expira");
        }
        nested_form.find('.supply-lot-quantity').focus();
      },
      response: function(event, ui) {
        if (!ui.content.length) {
            var noResult = { value:"",label:"No se encontró el insumo en stock" };
            ui.content.push(noResult);
        }
      }
    }).each(function() {
        $(this).autocomplete("widget").insertAfter($("#dialog").parent());
    })
  });
});
