<div class="lots">
  <%= f.hidden_field :lot_stock_id, value: "lot_stock_value", class: "lot_stock_ref" %>
  <%= f.hidden_field :quantity, value: "quantity_value", class: "lot_stock_quantity_ref" %>
</div>