<%= render 'header' %>

<% if @applicant_orders.exists? %>
  <div class="card fixed-custom-card">
    <div class="card-header">
      <%= render "filter" %>
    </div>
    <div class="card-body fixed-panel-index">
      <%= render(
        partial: 'internal_orders/applicant_list',
        locals: { applicant_orders: @applicant_orders }
      ) %>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'pedidos internos recibidos' }
  ) %>
<% end %>