// Add the dialog title
$('#dialog .modal-title').html("<i class='fa fa-trash'></i>  Enviar a papelera la <%= @internal_order.order_type%>");
$('#dialog .modal-header').addClass('bg-danger text-white');

// Render the edit form
$('#dialog .modal-body').html(
  'Esta seguro que desea enviar a la papelera la <%= @internal_order.order_type %> \
  a <%= @internal_order.provision? ? @internal_order.applicant_sector.name : @internal_order.provider_sector.name %>?');

// Add form button
$('#dialog .modal-footer').html(
  "<button type='button' class='btn pull-left' data-dismiss='modal'>Volver</button>"+
  "<a data-remote='true' data-method='delete' href='<%= internal_order_path(@internal_order) %>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");
