<%= render 'header' %>

<% if @internal_orders.present? %>
  <div class="card" id="filter-panel">
    <div class="card-header">
      <%= render 'filter' %>
    </div>
    <div class="card-body fixed-panel-index">
      <%= render(
        partial: 'internal_orders/list',
        locals: { internal_orders: @internal_orders }
      ) %>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'pedidos internos entregados' }
  ) %>
<% end %>