// Add the dialog title
$('#dialog h3').html("<i class='glyphicon glyphicon-plus'></i>  Nuevo pedido interno");

// Render the new form
$('.modal-body').html('<%= j render("form") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<button type='submit' name='commit' class='btn btn-success pull-right' form='new_internal_order' value='Cargar y entregar'>Cargar y entregar</button>"+
  "<button type='submit' name='commit' class='btn btn-primary pull-left' style='margin-left: 30%' form='new_internal_order' value='Cargar pedido interno'>Cargar pedido interno</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
  $('#responsable_id_chosen').trigger('chosen:open');
  $('.chosen-single').focus();
});

<%= render 'form_function' %>
