// Add the dialog title
$('.modal-header').addClass('bg-danger text-white');
$('.modal-title').html("<i class=' glyphicon fas fa-ban'></i>  Anular la <%= @internal_order.order_type %>");

// Render the edit form
$('.modal-body').html(
  'Esta seguro que desea Anular la <%= @internal_order.order_type %> \
  a <%= @internal_order.provision? ? @internal_order.applicant_sector.name : @internal_order.provider_sector.name %>?'
  );

// Add form button
$('.modal-footer').html(
    "<button type='button' class='btn pull-left' data-dismiss='modal'>Volver</button>"+
    "<a data-remote='true' data-method='patch' href='/internal_orders/<%= @internal_order.id %>>/nullify' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-header').removeClass('bg-danger text-white');
});