<!--  Panel Prescripciones del día -->
<div class="panel panel-default">
  <!--  Panel prescripciones recibidas por día -->
  <% if @prescriptions.count >= 4 %>
    <div class="panel-heading">
      <h3 class="panel-title">Pedidos Internos <small>Esta semana </small></h3>
    </div>
    <div class="panel-body">
      <%= line_chart @prescriptions.group_by_day(:prescribed_date,range: 1.weeks.ago.midnight..Time.now, format: "%d/%m/%Y").count, discrete: true, adapter: "highcharts" %>
    </div>
  <% end %>
  <div class="panel-heading">
    <h3 class="panel-title">Prescripciones <small>Este año</small></h3>
  </div>
  <div class="panel-body">
    <%= column_chart charts_by_month_prescriptions_path,
      download: "Prescripciones recetadas por mes SIFAHO",
      label: "Cantidad",
      colors: ["rgb(130,165,239, 0.6)"],
      messages: {empty: "No hay prescripciones en este mes"},
      adapter: "highcharts" %>
    </div>
</div>