<% content_for :page_header do %>
  <h3>Bienvenido a SIFAHO</h3>
<% end %>
<div cass="row">
  <div class="col-md-6">
    <%= render 'panel_prescriptions' %>
  </div>
  <div class="col-md-6">
    <%= render 'panel_medications' %>
  </div>
</div>
