<%= render 'header' %>
<div cass="row">
  <div class="col-md-6">
    <%= render 'prescriptions' %>
    <%= render 'internal_orders' %>
  </div>
  <div class="col-md-6">
    <%= render 'right_panel' %>
  </div>
</div>
