<% content_for :page_header do %>
  <h3><%= current_user.profile.mujer? ? 'Bienvenida' : 'Bienvenido'  %> a SIFAHO</h3>
<% end %>
<div cass="row">
  <div class="col-md-6">
    <%= render 'left_panel' %>
  </div>
  <div class="col-md-6">
    <%= render 'right_panel' %>
  </div>
</div>
