<% content_for :page_header do %>
  Inicio
<% end %>
<div cass="row">
  <div class="col-md-6">
    <%= render 'prescriptions' %>
    <%= render 'internal_orders' %>
  </div>
  <div class="col-md-6">
    <%= render 'right_panel' %>
  </div>
</div>
