@import 'variables';

#wrapper {
// barra navegación principal Estilos a full screen 1221px en adelante
  .navbar{
    height: $navbar-height;
    padding: 3px $nav-padding-lr;
    transition: background-color 0.3s ease-out;
    &.navbar-expand-custom{
      .navbar-collapse {
        display: flex;
        flex-basis: auto;
        .navbar-nav{
          flex-direction: row;
          .nav-link{
            padding: 0.5rem 1rem;
            background-color: transparent;
            &.active, &:hover, &:focus{
              background-color: $cblue2;
              color: #fff;
              box-shadow: none;
            }
          }
        }
      }
      .navbar-toggle-custom{
        display: none;
      }
      .notification-dropdown .list-group .list-group-item, .notification-dropdown .list-group .list-group-item.unread{
        background-color: transparent;
        .notification-link:hover, .notification-link.active{
          background-color: $cblue2;
          color: #fff;
        }
        .notification-link:hover ~ .notifications-action a{
          color: #fff
        }
      }
    }
    .brand-container{
      width: calc(#{$sidebar-width-visible} - #{$nav-padding-lr});
      a.navbar-brand{
        margin: 0;
        padding: 0;
        .logo{
          height: 2rem;
          transition: height 0.35s ease-out;
        }
      }
      button#menu-toggle:hover{
        background-color: $cblue2;
        color: #fff;
      }
      button#menu-toggle:focus{
        box-shadow: none!important;
        background-color: $cblue2;
        color: #fff;
      }

      .demo-badge-nav{
        font-size: 0.8rem;
        margin-left: 1rem;
      }

    }
    #dropdown-menu-header{
      padding-left: calc(15px - 2.5px);
      .dropdown-menu-right.show{
        position: absolute;
      }
    }
    
    #dropdown-header-login{
      .theme-change{
        padding: 0.25rem 1.5rem;
        text-align: right;
        .switch .btn{
          font-size: 0.652rem;
        }
      }
    }
  }

  .card{
    transition: background-color 0.3s ease-out;
    .card-header{
      padding: 5px 10px;
    }
  }

  .dropdown-menu{
    transition: background-color 0.3s ease-out;
    a.dropdown-item:hover{
      background-color: $cblue2;
      color: #fff!important;
    }
  }
  
  .list-group-item{
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  }

  .nav-tabs .nav-item .nav-link{
    background-color: transparent;
    &:hover, &.active{
      background-color: $cblue2;
      color: #fff!important;
    }
  }

  table{
    th a:hover{ 
      color: $cblue2!important;
      text-decoration: none;
    }
  }

  .pagination .page-item .page-link{
    background-color: transparent;
  }
  .pagination .page-item.disabled{
    background-color: transparent!important;
    cursor: not-allowed;
  }
  .pagination .page-item.active, .pagination .page-item:hover{
    background-color: $cblue2;
    .page-link{
      color: #fff!important;
    }
  }
}
