<h1>Editing Inpatient Prescription Product</h1>

<%= render 'form', inpatient_prescription_product: @inpatient_prescription_product %>

<%= link_to 'Show', @inpatient_prescription_product %> |
<%= link_to 'Back', inpatient_prescription_products_path %>
