<% render 'header' %>

<div class="row">
  <% if @supplies.present? %>
   <%= render 'filter' %>

    <%= render(
      partial: 'supplies/list',
      locals: { supplies: @supplies }
    ) %>
  <% else %>
    <%= render(
      partial: 'shared/not_found',
      locals: { object_name: 'productos' }
    ) %>
  <% end %>
</div>