// Add the dialog title
$('.modal-title').html("<i class='fas fa-eye'></i>  Viendo insumo");

// Render the edit form
$('.modal-body').html('<%= j render("show") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn' data-dismiss='modal'>Volver</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");
