<%= render 'inpatient_prescriptions/header' %>

<div class="card fixed-custom-card">
  <div class="card-header">
    <%= render 'filter' %>
  </div>
  <div class="card-body fixed-panel-index">
    <%= render 'list', hide_patient: @hide_patient %>
  </div>
</div>
