// Add the dialog title
$('#dialog .modal-header').addClass("bg-danger text-white");
$('#dialog .modal-title').html("<i class='fas fa-trash'></i> Borrando paciente");

// Render the edit form
$('#dialog .modal-body').html('Esta seguro que desea enviar a la papelera a <%= @patient.fullname %>?');

// Add form button
$('#dialog .modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<a data-remote='true' data-method='delete' href='<%= patient_path(@patient) %>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

$('#dialog').on('hidden.bs.modal', function () {
  $('#dialog .modal-header').removeClass('bg-danger text-white');
});
