// Add the dialog title
$('#dialog h3').html("<i class='glyphicon glyphicon-eye-open'></i>  Viendo paciente");

// Render the edit form
$('.modal-body').html('<%= j render("show") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<% if policy(@patient).edit? %>"+
  '<%= link_to edit_patient_path(@patient), remote: true, class: "btn btn-warning btn-md" do %>'+
    '<%= content_tag(:span, "", class: "glyphicon glyphicon-edit") %>'+
    ' Editar paciente'+
  '<% end %>'+
  "<% end %>"
);

// Show the dynamic dialog
$('#dialog').modal("show");
