<% if @areas.present? %>
  <div id="filterrific_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead >
          <tr>
            <th>Nombre</th>
            <th>Rubro padre</th>
            <th>Subrubros</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="areas">
          <%= render @areas %>
        </tbody>
      </table>
    </div>
    <div class="row d-flex align-items-center" style="height: 50px">
      <div class="col-3">
        <%= will_paginate @areas, list_classes: %w(pagination mb-0), 
          previous_label: '<i class="fa fa-angle-left"></i>',
          next_label: '<i class="fa fa-angle-right"></i>', 
          renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <div class="col-6 d-flex justify-content-around align-items-center">
        <div>
          Productos <span class="badge badge-secondary"><%= @areas.count %></span>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'area' }
  ) %>
<% end %>
