<div class="card mx-auto">
  <div class="row m-0">
    <div class="col-1 pl-2 pr-2">Código</div>
    <div class="col pl-2 pr-2">Producto</div>
    <div class="col-1 pl-2 pr-2">Unidad</div>
    <div class="col-1 pl-2 pr-2">Tu stock</div>
    <div class="col-1 pl-2 pr-2">Solicitado</div>
    <div class="col-1 pl-2 pr-2">Entregar</div>
    <div class="col pl-2 pr-2">Tu observación</div>
    <div class="col-1 pl-2 pr-2"></div>
  </div>

  <div id="order-products-container">
    <% order.order_products.each do |order_product_store| %>
      <%= render "shared/orders/provider/fields", order: order, order_product: order_product_store %>
    <% end.presence || ( render "shared/orders/provider/fields", order: order, order_product: order_product ) %>
  </div>

  <%= link_to polymorphic_path([:new, order.class.name.underscore.pluralize, :provider_product], provider_id: order.id), remote: true, 
    class: 'btn btn-primary btn-sm' do %>
    Agregar producto
    <%= fa_icon "plus" %>
  <% end %>
</div>

<% content_for :modal do %>
  <%# if policy(:external_order_applicant).destroy?(external_order) %>
    <%= render(partial: 'shared/modals/delete_confirmation') %>
  <%# end %>
<% end %>
