<h1>Editing In Pre Prod Lot Stock</h1>

<%= render 'form', in_pre_prod_lot_stock: @in_pre_prod_lot_stock %>

<%= link_to 'Show', @in_pre_prod_lot_stock %> |
<%= link_to 'Back', in_pre_prod_lot_stocks_path %>
