// Add the dialog title
$('#dialog .modal-title').html("<i class='fas fa-eye'></i>  Viendo producto");

// Render the edit form
$('#dialog .modal-body').html('<%= j render("show") %>');

// Add form button
$('#dialog .modal-footer').html(
  "<button type='button' class='btn' data-dismiss='modal'>Volver</button>"
);

<% if @stock.present? %>
  $('#dialog .modal-footer').append(
    "<a class='btn btn-secondary' target='_blank' href='/stocks/<%= @stock.id %>'><i class='fas fa-external-link-alt'></i> Ver en stock</a>"
  );
<% end %>

// Show the dynamic dialog
$('#dialog').modal("show");
