<% content_for :title, "Lotes provincia" %>

<% content_for :page_header do %>
  <li class="nav-item">
    <%= link_to lots_path, class: "nav-link #{active_action('index')}" do %>
      <%= fa_icon "barcode" %>
      Lotes provincia
    <% end %>
  </li>
  <% if policy(Lot).new? %>
    <li class="nav-item">
      <%= link_to new_lot_path, class: "nav-link #{active_action('new')}" do %>
        <%= fa_icon "plus" %>
        Nuevo
      <% end %>
    </li>
  <% end %>
<% end %>