<% render 'header' %>

<div class="row">
  <% if @lots.present? %>
    <%= render 'filter' %>

    <%= render(
      partial: 'lots/list',
      locals: { lots: @lots }
    ) %>
  <% else %>
    <%= render(
      partial: 'shared/not_found',
      locals: { object_name: 'lotes en stock' }
    ) %>
  <% end %>
</div>