// Add the dialog title
$('.modal-header').addClass('bg-danger text-white');
$('.modal-title').html("<i class='fa fa-trash'></i> Eliminar zona sanitaria");

// Render the edit form
$('.modal-body').html(
  'Esta seguro que desea eliminar la siguiente zona?'
);

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<a data-remote='true' data-method='delete' href='/sanitary_zones/<%= @sanitary_zone.id %>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-header').removeClass('bg-danger text-white');
});
