/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'variables';
@import "bootstrap-select";
@import "bootstrap";
@import "chosen";
@import 'font_awesome5_webfont';
@import 'bootstrap-datetimepicker';
@import 'bootstrap3-switch';
@import 'sidebar';
@import 'panels';

body{
  background-color: #303030;
}

@font-face {
  font-family: "Lato";
  src: font-url( asset-path("Lato-Regular.ttf") );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa-regular";
  src: font-url( asset-path("Comfortaa-Regular.ttf") );
  font-weight: normal;
  font-style: normal;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #41ffc1;
}

.spinner{
  display: none;
  position: absolute;
  margin-left: 15em;
  margin-top: -2px;
}

.table-row{
  cursor:pointer;
}

// barra navegación principal
.navbar{
  padding: 8px 16px 8px 0;
  height: $navbar-heigth;
  .brand-container{
    width: $sidebar-width-visible;
    a.navbar-brand{
      margin-right: 0;
      margin-left: 1rem;
    }
    button#menu-toggle:focus{
      box-shadow: none!important;
    }

  }
}

// columna de acciones de los listados (tables)
.actions-col{
  width: 1%;
  white-space: nowrap;
}

// titulo del modal
.modal-header-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  button{
    margin: 0px;
  }

}

.custom-select-pick{
  button.dropdown-toggle{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus{
      outline: none !important;
      border: none;
    }
  }
}

// grilla de usuarios
.users-list-table{
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  height: auto;
}
.panel-height{
  height: calc(100vh - 1rem - #{$navbar-heigth})
}

.h-row-custom{
  height: 100%;
  .mh-col-custom{
    max-height: 100%;
    overflow-y: auto;
  }
}
