/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "jquery-ui";
@import 'jquery-ui/datepicker';

@import 'jquery-ui/core';
@import 'jquery-ui/theme';

@import 'jquery-ui/draggable';
@import 'jquery-ui/resizable';
@import 'jquery-ui/selectable';
@import 'jquery-ui/sortable';

@import 'jquery-ui/accordion';
@import 'jquery-ui/autocomplete';
@import 'jquery-ui/button';
@import 'jquery-ui/datepicker';
@import 'jquery-ui/dialog';
@import 'jquery-ui/menu';
@import 'jquery-ui/progressbar';
@import 'jquery-ui/selectmenu';
@import 'jquery-ui/slider';
@import 'jquery-ui/spinner';
@import 'jquery-ui/tabs';
@import 'jquery-ui/tooltip';

@import "variables";
@import "bootstrap-select";
@import "bootstrap";
@import "chosen";
@import 'font_awesome5_webfont';
@import 'bootstrap-switch-button';
@import 'main/main';
@import 'main/main-1220';
@import 'themes/dark';
@import 'themes/light';
@import 'sidebar';
@import 'panels';
@import 'cards';
@import 'icons';
@import 'autocomplete';
@import 'module-header-navigation';
@import 'notifications';
@import 'notifications-list';
@import "tempusdominus-bootstrap-4";
@import 'treeview';
@import "table_customized";
@import "custom_progress_bar";
@import 'errors';
@import 'custom_collapse_table';
@import 'news';
@import 'order_product_table';
@import 'prescriptions';
@import 'inpatient_prescription_products';
@import 'professionals';
@import 'bootstrap_datepicker_1_9_0/css/bootstrap-datepicker.min';
@import 'snomed_concepts';
@import 'loading';
@import 'permission';


html {
  @media(min-width: 1221px) and (max-width: 1600px){
    font-size: 12px;
  }
  
  @media(min-width: 651px) and (max-width: 1220px){
    font-size: 12px;
  }
}

body{
  background-color: #303030;
}

@font-face {
  font-family: "Lato";
  src: font-url( asset-path("Lato-Regular.ttf") );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa-regular";
  src: font-url( asset-path("Comfortaa-Regular.ttf") );
  font-weight: normal;
  font-style: normal;
}

.lato {
  font-family: Lato;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #41ffc1;
}

.spinner{
  display: none;
  position: absolute;
  margin-left: 15em;
  margin-top: -2px;
}

.table-row{
  cursor:pointer;
}

td .form-group{
  margin-bottom: 0px !important;
}

// columna de acciones de los listados (tables)
.actions-col{
  width: 1%;
  white-space: nowrap;
}

// titulo del modal
.modal-header-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  button{
    margin: 0px;
  }

}

.custom-select-pick{
  button.dropdown-toggle{
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus{
      outline: none !important;
      border: none;
    }
  }
  li > .selected{
    background-color: $cblue2;
    color: white;
  }
}

// grilla de usuarios
.users-list-table{
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  height: auto;
}

// grilla de home
.dashboard-grid{
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);//en dos columnas
  height: auto;
}

.h-row-custom{
  height: 100%;
  .mh-col-custom{
    height: 100%;
    .card{
      height: 100%;
      overflow-y: auto;
    }
  }
}

.reset-filterrific{
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
}

.alert-container{
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

.form-group.radio_buttons > label.control-label{
  margin-right: 1rem;
}

.news-panel{
  height: calc(30vh);
  overflow-y: auto;
}

.c-badge{
  position: relative;
  top: -8px!important;
  left: -6px!important;
}

.custom-input-group{
  position: relative;
  .with-loading{
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    &.visible{
      display: block;
    }
  }
}

a {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.clickable{
  cursor: pointer;
}

.btn-progress{
  width: 10rem;
  position:relative;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid #ced4da;
  .bg-progress{
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    z-index: 1;
    transition: width .5s ease-out, background-color .5s ease-out;
    &.complete-progress{
      background-color: #28a745!important;
    }
    &.fail-progress{
      background-color: #dc3545!important;
    }
  }
  .btn{
    border: none!important;
    background-color: transparent!important; 
    z-index: 10;
    position: relative;
    color: #000;
    transition: color .5s ease-out; // color .5s .5s ease-out;
    &.complete-progress, &.fail-progress{      
      color: #e9ecef
    }
  }
}

.btn .fas, .btn .fa, .btn svg{
  pointer-events: none;
}

.bg-ocpp-light-blue{
  background-color: $light-blue;
}

.highcharts-credits{
  display: none;
}

.highcharts-container{
  width: 100%!important;
  svg{
    width: 100%!important;
  }
}

.list-group-hovered{
  li:hover{
    background-color: #f8f9fa;
  }
}

.user-thumbnail-25{
  width: 25px;
  height: 25px;
}

.user-thumbnail-40{
  width: 40px;
  height: 40px;
}