.collapse-custom{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  &.show{
    max-height: 200px!important;
  }
  .card-body{
    max-height: 200px!important;
    overflow: auto!important;
  }
}