@import 'variables';

.w-60{
  width: 60%!important;
}

.custom-progress-bar{
  position: relative;
  margin-bottom: 3rem;
  
  &.finish-success{
    .progress-bar{
      background-color: #218838!important;
      box-shadow: 0px 0px 3px 0px rgba(33,136,57,0.9);
    }
    ul > li > .indicator-circle{
      background-color: #218839!important;
      border-color: #145623!important;
      box-shadow: 0px 0px 3px .5px rgba(33,136,57,0.9);
    }
  }
  
  &.finish-danger{
    .progress-bar{
      background-color: #dc3545!important;
      box-shadow: 0px 0px 3px 0px rgba(220,53,69,0.9);
    }
    ul > li > .indicator-circle{
      background-color: #dc3545!important;
      border-color: #940f1c!important;
      box-shadow: 0px 0px 3px .5px rgba(148,15,28,0.9);
    }
  }
  
  .progress-bar{
    width: 0%;
    background-color: $cblue2;
    box-shadow: 0px 0px 3px 0px rgba(0,64,122,0.9);
    height: 3px;
    position: absolute;
    left: 0;
    z-index: 10;
  }

  ul{
    position: relative;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 3px;
    width: 100%;
    background-color: #ccc;
    li{
      position: relative;
      z-index: 11;
      &.active{
        .indicator-circle{
          background-color: $cblue3;
          box-shadow: 0px 0px 3px 0px rgba(0,64,122,0.9);
        }
      }
      .indicator-circle{
        
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid $cblue;
      }
      .status-title{
        position: absolute;
        white-space: nowrap;
        right: 50%;
        transform: translateX(50%);
        top: 20px;
      }
    }

   
  }
}