.col-io-sup-name{
  max-width: 300px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.io-show-sup{
  max-width: 240px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lab-col{  
  max-width: 200px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.tooltip-inner {
  max-width: 350px;
}

#pedidos-li:hover .btn-add-int {
  display: table; /* On :hover of div show button */
}

#pro-aud-glyph-prov{ 
  margin-left: 30%;
}

#pro-cam-glyph-prov{ 
  margin-left: 30%;
}

.change-btn{
  margin-top: 17px;
}
