.col-io-sup-name{
  max-width: 300px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.io-show-sup{
  max-width: 240px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-add-int{
  position: absolute;
  z-index: 4;
  margin-top: -2em;
  margin-left: 10em;
  display: none;
}

#pedidos-li:hover .btn-add-int {
   display: table; /* On :hover of div show button */
}

#pro-aud-glyph-prov{ 
  margin-left: 30%;
}

#pro-cam-glyph-prov{ 
  margin-left: 30%;
}