#custom-bootstrap-menu.navbar-default-cust .navbar-brand-cust {
  color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default-cust {
  font-size: 14px;
  background-color: rgba(11, 83, 141, 1);
  border-width: 0px;
  border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default-cust .navbar-nav-cust>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(11, 83, 141, 1);
}
#custom-bootstrap-menu.navbar-default-cust .navbar-nav-cust>li>a:hover,
#custom-bootstrap-menu.navbar-default-cust .navbar-nav-cust>li>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(124, 158, 212, 1);
}
#custom-bootstrap-menu.navbar-default-cust .navbar-nav-cust>.active>a,
#custom-bootstrap-menu.navbar-default-cust .navbar-nav-cust>.active>a:hover,
#custom-bootstrap-menu.navbar-default-cust .navbar-nav-cust>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(124, 158, 212, 1);
}
#custom-bootstrap-menu.navbar-default-cust .navbar-toggle {
  border-color: #7c9ed4;
}
#custom-bootstrap-menu.navbar-default-cust .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default-cust .navbar-toggle:focus {
  background-color: #7c9ed4;
}
#custom-bootstrap-menu.navbar-default-cust .navbar-toggle .icon-bar {
  background-color: #7c9ed4;
}
#custom-bootstrap-menu.navbar-default-cust .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default-cust .navbar-toggle:focus .icon-bar {
  background-color: #0b538d;
}

#custom-sidebar{
  z-index: 1;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  overflow: hidden;
}


#custom-sidebar:hover {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


#custom-sidebar .active a,
#custom-sidebar ul>.active a{
  background-color: rgba(124, 158, 212, 1);
}
#custom-sidebar .nav-cust, .nav-pills-cust
#custom-sidebar .nav-cust, .nav-pills-cust{
  text-align: center;
  background-color: #0b538d!important;
  padding-left: 14px;
}
#custom-sidebar .active a, #custom-sidebar ul > .active a{
  color: white;
  background-color: rgba(124, 158, 212, 1);
  border-radius: 5px;
}
#custom-sidebar .nav-cust, .nav-pills-cust>ul>li>a:hover,
#custom-sidebar .nav-cust, .nav-pills-cust>li>a:hover,
#custom-sidebar .nav-cust, .nav-pills-cust>.active>a:hover,
#custom-sidebar .nav-cust, .nav-pills-cust>.active>a:focus {
  color: white;
  background-color: rgba(124, 158, 212, 1);
  border-radius: 5px;
}
.nav-cust > li > a{
  font-size: 14px;
  color: white;
}
.nav-cust > li > a:hover{
  color: white;
  background-color: rgba(124, 158, 212, 1);
}
#custom-sidebar .nav-cust, .nav-pills-cust>li>a {
  font-size: 14px;
  color: white;
}
#custom-sidebar .nav-cust, .nav-pills-cust>li>div{
  margin-left: -15px;
  width: 20.1rem!important;
  padding-right: 15px;
}

#pedidos-label{
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  border-color: #59457c;
  border-radius: 0;
  border-top-color: #7c9ed4;
  background-color: #59457c;
  float: inherit;
  margin-top: 20px;
  margin-bottom: 0px;
}

#stock-label{
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  border-color: #10675f;
  border-radius: 0;
  border-top-color: #7c9ed4;
  background-color: #10675f;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

#efectores-label{
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  border-color: #89726a;
  border-radius: 0;
  border-top-color: #7c9ed4;
  background-color: #89726a;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

#notificaciones-label{
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  border-color: #d36262;
  border-radius: 0;
  border-top-color: #7c9ed4;
  background-color: #d36262;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}


li .well strong{
  font-family: 'Comfortaa-regular', sans-serif;
  font-size: 15px;
}

#page-header{
  padding: 0px 0px 0px 10em;
  z-index: 100;
  /* margin: -0.1em -3.85% 1.7% -10%; */
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border: 2px solid green;
  margin-bottom: 1.7%;
  margin-top: -0.1em;
  background-color: #7c9ed4;
  border-color: #7c9ed4;
  border-radius: 0;
  color: white;
}

#page-header h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

#page-header small{
  color: white; 
}

.navbar, .nav-pills-cust {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#page-title{
  font-family: 'Comfortaa-regular', sans-serif;
  font-size: 20px;
  margin-top: -3px;
  margin-bottom: -5px;
  color: white!important;
}
#page-title > a{
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-tabs-cust > li > a:focus{
  background-color: #7c9ed4!important;
  color: white;
}

.nav-tabs-cust {
  border-bottom-color: transparent!important;
}

.nav-tabs-cust > li > a {
  /* padding: 3px 3px 3px 3px; */
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  border-radius: 4px;
}
.nav-tabs-cust > li > a:hover {
  background-color: #7c9ed4;
  border-color: #7c9ed4;
}
.userinfo{
  line-height: 15px;
  padding-top: 8px;
  margin-left: 14.5em; 
  text-align: left;
  color: #41ffc1;
  width: 170%;
}
.brandinfo{
  padding-top: 20px;
  margin-left: 14.5em; 
  text-align: left;
  color: #41ffc1;
  width: 170%;
}
.badge-notify{
  position:relative;
  top: -11px;
  left: -9px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background-color: rgba(11, 83, 141, 1);
  border-color: rgba(11, 83, 141, 1);
}
.img-profile-nav{
  float: left;
  margin-right: 4px;
  margin-top: -2px;
}