#navbarSupportedContent > ul.module-links-navbar > li > a.nav-link{

  color: black;
  margin: 0 2.5px;
  border-radius: 3px;

  &:hover, &.active{
    background-color: #d3d3d3;
    background-color: #d3d3d3;
  }
}
#navbarSupportedContent > ul > li > button.nav-link{
  border: none;
  color: black;
  background-color: #f8f9fa;
  &:hover{
    background-color: #d3d3d3;
  }
  &:focus{
    // border: none!important;
    outline: none!important;
    background-color: #f8f9fa;
  }

  .dropdown-text-btn{
    display: inline-block;
    line-height: 1;
  }
}