.navbar-header.papita {
    background-color: #0b538d;
}
ul#sidebar {
    position: fixed;
    background-color: #0b538d;
    top: 50px;
    left: 0px;
    height: 100%;
    width: 115px;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #0b538d;
}


.btn_menu_lateral {
    width: 112px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #78a9d2;
}

.btn_menu_lateral:focus {
    background-color: #6a8a9a;
}
.panel-default.panel_menu_lateral {
    width: 115px;
    margin-bottom: 0px;
    border: none;
}

.panel-body.body_panel_menu_lateral {
    padding: 0px;
    padding-bottom: 8px;
    background-color: #0b538d;
}

div#panel_menu__dispensar {
    background-color: #59457c;
    color: white;
    border: none;
}

div#panel_menu__cargas {
    background-color: #89726a;
    border: none;
    color: white;
}

div#panel_menu__insumos {
    background-color: #10675f;
    color: white;
    border: none;
}

div#panel_menu__pedidos {
    background-color: #493027;
    color: white;
    border: none;
}

@media (max-width: 800px) and (min-width: 300px) {

}
