main {
    background-color: #eee;
    padding-bottom: 80px;
    width: 100%;
    margin-top: 51px;
    float: left;
    margin-left: 15%;
    margin-top: 10%;
}
ul#sidebar {
    width: 5%;
    background-color: #232173;
    top: 50px;
    max-width: 200px;
    left:0px;
    height: 100%;
}

element.style {

}
