.notification-container{
  .notification-btn:focus{
    box-shadow: none;
  }
  .notification-dropdown {
    border: none;
    width: 455px;
    @media(min-width: 1200px) and (max-width: 1600px){
      width: 282px;
    }
  }
}

ul.list-group{
  li{
    padding: 0;
    position: relative;
    .notification-link{
      &:hover{
        text-decoration: none;
      }
      img.img-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .notification-content{
        width: calc(100% - (25px + 0.5rem));
      }
    }
    .notifications-action{
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
    }
  }
}
