.notification-container{
  .notification-btn:focus{
    box-shadow: none;
  }
  .notification-dropdown {
    border: none;
    width: 282px;
    
  }
}

ul.list-group{
  li.unread{
    background-color: #dae0e5 !important
  }
  li{      
    padding: 0;
    .notification-link{
      color: #495057;
      &:hover{
        text-decoration: none;
      }
      img.img-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}