/*Estilos que se aplican a la tabla de una orden con productos:
  [ExternalOrder: proveedor]
  [InternalOrder: proveedor]
  [OutpatientPrescription: dispense]
  [ChronicPrescriptionProduct: dispense]
*/
@import 'variables';

table.table{
  tr.nested-fields.has-error{
    background-color: $red-light-color;
  }
}

/* .nested-fields.editing{
  .editing-buttons{
    display: block;
  }
  .enable-editing-buttons{
    display: none;
  }
}
.nested-fields:not(.editing){
  .editing-buttons{
    display: none;
  }
  .enable-editing-buttons{
    display: block;
  }
} */