.status-bar-icons{
  position: absolute;
  margin-top: -20px;
  z-index: 1;
}

.gi-2x{font-size: 20px;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

#edit-glyph{
  margin-left: -3%;
}
#thumb-glyph{
  margin-left: 31%;
}
#road-glyph{
  margin-right: 25.5%;
}
#check-glyph{
  margin-right: 2%;
}
#plus-recibo-glyph{
  margin-left: -1.5%;
}
#edit-recibo-glyph{
  margin-left: 45%;
}
#check-recibo-glyph{
  margin-right: 3%;
}

#fixed-table{
  table-layout: fixed;
}
.sol-col-aba{
  max-width: 200px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
