/*Estilos que se aplican a la tabla de una orden con productos:
  [ExternalOrder: proveedor]
  [InternalOrder: proveedor]
  [OutpatientPrescription: dispense]
  [ChronicPrescriptionProduct: dispense]
*/
@import 'variables';

.order-header-info{
  .sector-info, .establishment-info{
    .hospital-thumb{
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
    .sector-title, .establishment-title{
      font-size: .8rem;
      margin-bottom: 0px;
    }
    .sector-subtitle, .establishment-subtitle{
      font-size: .9rem;

    }
  }
}

table.table{
  tr.nested-fields.has-error{
    background-color: $red-light-color;
  }
  tr.row-with-error{
    height: 60px;
    position: relative;
  }
}


.custom-form-row{
  transform: rotateX(0deg);
  transition: transform 0.5s ease-in-out;
  &:hover{
    .col-action-btn.hidden-content{
      max-width: 7.213125rem;
      flex: 0 0 7.213125rem;  
    }
  }
}

.col-action-btn{
  max-width: 4.715625rem;
  flex: 0 0 4.715625rem;
  white-space: nowrap;
  transition: max-width 0.1s ease-out, flex 0.1s ease-out;
  overflow: hidden;
  box-sizing: content-box;
}

.custom-validation-msg{
  white-space: nowrap;
}

.custom-sticky-top{
  position: sticky;
  top: -1.25rem;
  z-index: 100;
  box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.29);
  -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.29);
}