#patient_type_id_chosen{
  width: 200px !important;
}

.pres-col-pro{
  max-width: 130px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pres-col-pat{
  max-width: 130px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pres-col-sup{
  max-width: 250px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.daily-dose-label > p{
  display: inline-table;
}

.quantity-label > p{
  display: inline-table;
}

.btn-add-pres{
  position: absolute;
  z-index: 4;
  margin-top: -2em;
  margin-left: 10em;
  display: none;
}

#pedidos-li:hover .btn-add-pres {
   display: table; /* On :hover of div show button */
}
