.cards-container{
  height: calc(100% - 2rem);
  .patient-form-and-info{
    height: 24.9166rem;
  }
  .patient-receipt{
    height: calc(100% - (24.9166rem + 1rem));
    .card-body{
      height: calc(100% - 25.8333333333rem);
      #prescriptions-tab{
        height: calc(100% - 32px);
        overflow: auto;
      }
    }
  }
  #pat-container{

    #patient-avatar{
      width: 7rem;
      padding: 0 0.8rem;
      box-sizing: content-box;
      text-align: center;
      img.patient-avatar{
        max-width: 7rem;
        max-height: 8rem;
      }
    }
    .pat-os-container{
      width: calc(100% - 5rem);
      padding: 0 0.8rem;
      max-height: 113px;
      overflow: auto;
      table.table-insurance{
        thead th{
          position: sticky;
          top: 0;
        }
      }
    }
  }

  #last-prescription-info{
    table.table{
      margin-bottom: 0!important;
    }
  }
}