/*This css will only works when you print*/
@media print {
  header { display: none; } 
  #page-header { display: none}
  #panel-body-new {
    /* height: 480px; */
    height: 100%!important; 
  }
  .table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td{
    font-size: 9px;
  }
  .footer{ display: none}

  strong{
    font-family: 'Lato', sans-serif;
  }

  #panel-body-new > row > .col-xs-3 > strong{
    font-size: 9px;
  }
}

.print-btn{
  margin-top: -5px;
  margin-right: 0px;
}

.close-btn{
  margin-top: -5px;
  margin-right: -7px;
}

.search-lot-btn{
  margin-left: -10px;
}