.col-sup-name{
  max-width: 300px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#links-quant-form{
  margin-top: -15px;
}
#quantity-bar{
  color: black;
}
.selectContainer {
  width: 200px
}


/* 2. Change color when there are chosen other select options when select menu is closed? */

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  color: #2a2a2a;
}


/* 3. Change option's color when the select menu is opened? */

.bootstrap-select.btn-group .dropdown-menu>li>a {
  color: #2a2a2a;
}


/* 4. Change color when option on hover when select menu is opened? */

.bootstrap-select.btn-group .dropdown-menu>li>a:hover:not(:focus) {
  color: white;
}
