$sidebar-width-visible: 275px;
$sidebar-width-hidden: 40px;
$sidebar-icon-position: 10%;

$min-height-list: calc(100vh - 274px);
$min-height-index: calc(100vh - (109px + 63px + 2rem));

$navbar-heigth: 60px;
$navbar-heigth-bml: 38px;
