// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chosen-container-single .chosen-single{
  height: 34px !important;
  line-height: 34px !important;
  padding: 0 0 0 12px !important;
}
