// Add styles
$('.modal-header').addClass('bg-success text-white');
<% if @external_order.despacho? %>
  // Add the dialog title
  $('.modal-title').html("<i class='fa fa-check'></i>  Recibir el despacho");
<% elsif @external_order.recibo? %>
  $('.modal-title').html("<i class='fa fa-check'></i>  Realizar el recibo");
<% elsif @external_order.solicitud_abastecimiento? %>
  $('.modal-title').html("<i class='fa fa-check'></i>  Recibir el pedido solicitado");
<% end %>

// Render the send form
$('.modal-body').html("Esta seguro que ha recibido el pedido?");

// Add form button
$('.modal-footer').html(
  "<a class='btn' data-dismiss='modal'>Cancelar</a>"+
  "<a data-method='get' href='/external_orders/<%= @external_order.id %>/receive_order' \
  data-dismiss='modal' class='btn commit btn-success pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-header').removeClass('bg-success text-white');
});
