// Add styles
$('.modal-header').addClass('bg-primary text-white');

// Add the dialog title
$('.modal-title').html("<i class='fa fa-paper-plane'></i>  Enviar el pedido");

// Render the send form
$('.modal-body').html('<%= j render("send_form") %>');

// Add form button
$('.modal-footer').html(
  "<a class='btn' data-dismiss='modal'>Volver</a>"+
  "<button type='submit' name='commit' class='btn btn-primary' form='edit_external_order_<%=@external_order.id%>' value='Enviar'>Confirmar</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

$('.selectpicker').selectpicker(); // Se inicializa selectpicker

// Evento del select sector para rellenar hidden id
$(document).on('change', '#sent-by-select', function() {
  $(".sent-by-id").val($(this).val());
});//End on change events

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-header').removeClass('bg-primary text-white');
});
