// Add the dialog title
$('#dialog h4').html("<i class=' glyphicon glyphicon-trash'></i>  Envar a papelera el pedido");

// Render the edit form
$('.modal-body').html('Esta seguro que desea eliminar el pedido de <%= @ordering_supply.applicant_sector.sector_and_establishment %>?');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<a data-remote='true' data-method='delete' href='/ordering_supplies/<%= @ordering_supply.id %>>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");
