// Add styles
$('.modal-content').addClass('panel-success');
<% if @ordering_supply.despacho? %>
  // Add the dialog title
  $('#dialog h4').html("<i class=' glyphicon glyphicon-check'></i>  Recibir el despacho");
<% elsif @ordering_supply.recibo? %>
  // Add the dialog title
  $('#dialog h4').html("<i class=' glyphicon glyphicon-check'></i>  Realizar el recibo");
<% end %>

// Render the send form
$('.modal-body').html("Esta seguro que ha recibido el pedido?");

// Add form button
$('.modal-footer').html(
  "<a class='btn' data-dismiss='modal'>Cancelar</a>"+
  "<a data-method='get' href='/ordering_supplies/<%= @ordering_supply.id %>/receive_order' \
  data-dismiss='modal' class='btn commit btn-success pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-content').removeClass('panel-success');
});
