// Add styles
$('.modal-content').addClass('panel-success');

// Add the dialog title
$('#dialog h4').html("<i class=' glyphicon glyphicon-check'></i>  Recibir el pedido");

// Render the send form
$('.modal-body').html("Esta seguro que ha recibido el pedido?");

// Add form button
$('.modal-footer').html(
  "<a class='btn pull-left' data-dismiss='modal'>Volver</a>"+
  "<a data-method='get' href='/ordering_supplies/<%= @ordering_supply.id %>/receive_applicant' \
  data-dismiss='modal' class='btn commit btn-success pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-content').removeClass('panel-success');
});
