<% content_for :page_header do %>
  <li class="nav-item non-sel">
    <%= link_to products_path, class: "nav-link #{ active_action('index') }" do %>
      <%= fa_icon "pills" %>
      Productos
    <% end %>
  </li>
  <% if policy(Product).new? %>
    <li class="nav-item non-sel">
      <%= link_to new_product_path, class: "nav-link #{ active_action('new') }" do %>
        <%= fa_icon "plus" %>
        Agregar producto
      <% end %>
    </li>
  <% end %>
  
  <%# if policy(Areas).new? %>
    <%# <li class="nav-item non-sel"> %>
      <%#= link_to areas_path, class: "nav-link #{ active_action_and_controller('index', "areas") }" do %>
        <%#= fa_icon "project-diagram" %>
        <%# Rubros %>
      <%# end %>
    <%# </li> %>
  <%# end %>
<% end %>