<% render 'header' %>

<div class="row">
  <% if @products.present? %>
    <%= render 'filter' %>

    <%= render(
      partial: 'products/list',
      locals: { products: @products }
    ) %>
  <% else %>
    <%= render(
      partial: 'shared/not_found',
      locals: { object_name: 'productos' }
    ) %>
  <% end %>
</div>