// Style modal
$('#dialog .modal-header').addClass('bg-danger text-white');

// Add the dialog title
$('#dialog .modal-title').html("<i class='fa fa-trash'></i>  Eliminar recibo");

// Render the edit form
$('#dialog .modal-body').html('Eliminar recibo de <%= @receipt.applicant_sector.sector_and_establishment %>?');

// Add form button
$('#dialog .modal-footer').html(
  "<a class='btn' data-dismiss='modal'>Cancelar</a>"+
  "<a data-remote='true' data-method='delete' href='/receipts/<%= @receipt.id %>>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('#dialog .modal-header').removeClass('bg-danger text-white');
});
