<%= render "internal_orders/header" %>

<h1>Editing Internal Order Template</h1>

<%= render 'form', internal_order_template: @internal_order_template %>

<%= link_to 'Show', @internal_order_template %> |
<%= link_to 'Back', internal_order_templates_path %>
