<% if @supply_id.present? %>
  <% if @sector_supply_lots.present? %>
  // Add the dialog title
  $('#dialog .modal-dialog').addClass('modal-lg');
  $('#dialog .modal-header').addClass('bg-primary text-white');
  $('#dialog .modal-title').html("<i class='fa fa-barcode'></i>  Seleccionar lote en stock");

  // Render the edit form
  $('#dialog .modal-body').html('<%= j render("lot_list") %>');

  // Add form button
  $('#dialog .modal-footer').html(
    "<button type='button' class='btn' data-dismiss='modal'>Volver</button>"
  );

  // Show the dynamic dialog
  $('#dialog').modal("show");

  // Remove style
  $('#dialog').on('hidden.bs.modal', function () {
    $('#dialog .modal-header').removeClass('bg-secondary text-white');
    $('#dialog .modal-dialog').removeClass('modal-lg');
  });
  <% else %>
    $('#dialog .modal-header').addClass('bg-info text-white');
    $('#dialog .modal-title').html("<i class='fa fa-info'></i>  Sin stock");
    $('#dialog .modal-body').html("<p>No tienes lotes en stock de ese producto</p>");
    $('#dialog .modal-footer').html(
      "<button type='button' class='btn' data-dismiss='modal'>Volver</button>"
    );
    $('#dialog').modal("show");
    $('#dialog').on('hidden.bs.modal', function () {
      $('#dialog .modal-header').removeClass('bg-info text-white');
    });
  <% end %>
<% else %>
  $('#dialog .modal-header').addClass('bg-warning');
  $('#dialog .modal-title').html("<i class='fa fa-exclamation-triangle'></i>  Elegir un producto");
  $('#dialog .modal-body').html("<p>No se ha seleccionado ningún producto</p><p>Por favor seleccione uno</p>");
  $('#dialog .modal-footer').html(
    "<button type='button' class='btn' data-dismiss='modal'>Volver</button>"
  );
  $('#dialog').modal("show");
  $('#dialog').on('hidden.bs.modal', function () {
    $('#dialog .modal-header').removeClass('bg-warning');
  });
<% end %>