<div id="filterrific_results">
  <div class="card fixed-panel-list">
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Domicilio</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Sectores</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody id="establishments">
        <% if @establishments.present? %>
          <%= render @establishments %>
        <%else%>
          No hay establecimientos cargados.
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 50px">
    <%= will_paginate @establishments, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
