<%# navigation styled for Bootstrap 3.0 %>
<div class="col-sm-3 col-md-2 sidebar-nav">
  <% if current_user.present? %>
    <div class="span3 bs-docs-sidebar">
      <ul id="sidebar" class="nav nav-pills nav-stacked affix col-md-3">
        <% request.original_url %>
        <center>
          <li>
            <div class="panel panel-default panel_menu_lateral">
              <div class="panel-body body_panel_menu_lateral">
                <button type="button"  id="button_inicio" class="btn btn-primary btn_menu_lateral">
                  Inicio
                </button>
              </div>
            </div>
          </li>

          <li class="lista_menu">
            <div class="panel panel-default panel_menu_lateral">
              <div class="panel-heading heading_panel_menu_lateral" id="panel_menu__dispensar">
                Dispensar
              </div>
              <div class="panel-body body_panel_menu_lateral">
                <button type="button"  id="button_pendientes" class="btn btn-primary btn_menu_lateral">
                  Pendientes
                </button>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-default panel_menu_lateral">
              <div class="panel-heading heading_panel_menu_lateral" id="panel_menu__cargas">
                Cargar
              </div>
              <div class="panel-body body_panel_menu_lateral">
                <button type="button"  id="button_prescripcion" class="btn btn-primary btn_menu_lateral">
                  Prescripcion
                </button>
                <button type="button"  id="button_pedidos" class="btn btn-primary btn_menu_lateral">
                  Pedidos
                </button>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-default panel_menu_lateral">
              <div class="panel-heading heading_panel_menu_lateral" id="panel_menu__insumos">
                Insumos
              </div>
              <div class="panel-body body_panel_menu_lateral">
                <button type="button"  id="button_cargar" class="btn btn-primary btn_menu_lateral">
                  Cargar
                </button>
                <button type="button"  id="button_stock_actual" class="btn btn-primary btn_menu_lateral">
                  Stock Actual
                </button>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-default panel_menu_lateral">
              <div class="panel-heading heading_panel_menu_lateral" id="panel_menu__pedidos">
                Generar Pedido
              </div>
              <div class="panel-body body_panel_menu_lateral">
                <button type="button"  id="button_abastecimiento" class="btn btn-primary btn_menu_lateral">
                  Abastecimiento
                </button>
              </div>
            </div>
          </li>
      </center>

      </ul>
    </div>
  <% end %>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header papita">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, data: { turbolinks: false }, class: 'navbar-brand' do %>
        <%= image_tag('sifaho_brand.png')%>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
