#wrapper.dark {

  nav.navbar-expand-custom{
    background-color: #393E46;
    color: #ddd;
    border-bottom: 1px solid #303030!important;
    
    .nav-link{
      color: #ddd;
      background-color: #393E46;
    }

    .notification-btn{
      color: #ddd;
    }

    .brand-container{
      button#menu-toggle{
        color: #ddd;
      }
    }
    
    .navbar-toggle-custom{
      .navbar-toggler{
        color: #ddd;
        &:hover, &:focus{
          color: #fff;
          background-color: #28ABE1;
          outline: none!important;
        }
      }
    }
  }

  .card{
    background-color: #393E46;
    color: #ddd;
    .card-header.bg-warning{
      color: #212529
    }

    table thead th{
      color: #ddd;
    }

    .form-control:focus{
      border-color: #29abe1;
    }
    .form-control, .form-control:focus{
      background-color: #6c6f75;
      color: #e9ecef;
      &::placeholder{
        color: #e9ecef
      }
      &[disabled], &[readonly]{
        background-color: #4e4f52;
        cursor: not-allowed;
      } 
    }
  }


}